
<html lang='en'>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>e@site</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- Styles -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="stylesheet" href="~/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/grid_stack.min.css" />
	<link rel="stylesheet" href="~/js/plugins/jquery_confirm/jquery_confirm.css">
	<link rel="stylesheet" href="~/js/plugins/colorpicker/bootstrap-colorpicker-plus.min.css">
	<link rel="stylesheet" href="~/js/plugins/scrollbar/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="~/js/plugins/intro-tour/introjs.min.css">
	<link rel="stylesheet" href="~/js/plugins/intro-tour/themes/introjs-modern.css">
	<link rel="stylesheet" href="~/js/plugins/datepicker/datepicker.css">

	<link rel="stylesheet" href="~/js/plugins/datatable/style.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/colvis/1.1.2/css/dataTables.colVis.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.sumoselect/3.0.2/sumoselect.min.css" />

	<link rel="stylesheet" type="text/css" href="~/css/dripicon.css" />
	<link rel="stylesheet" type="text/css" href="~/css/style.css" />
	<link rel="stylesheet" type="text/css" href="~/css/responsive.css" />
	<style>
		@@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);

		.validation-error {
			border: 1px solid #dc3545; /* Red border color */
		}
		#DR{
			color: #fff;
		}

		.theme-content {
			padding-left: 250px;
			transition: padding-left 0.3s ease;
		}

			.theme-content.no-padding {
				padding-left: 0;
			}

		.console-sidemenu {
			background-color: rgb(12, 52, 61);
			position: fixed;
			top: 0;
			left: 0;
			width: 250px;
			height: 100%;
			transition: transform 0.3s ease;
		}

			.console-sidemenu.inactive {
				transform: translateX(-250px);
			}
	</style>
</head>

<body class="theme-body">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js" integrity="sha512-u3fPA7V8qQmhBPNT5quvaXVa1mnnLSXUep5PS1qo5NRzHwG19aHmNJnj1Q8hpA/nBWZtZD4r4AX6YOt5ynLN2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="~/assets/plugins/jquery/jquery.min.js"></script>

<script src="/js/jquerymain_jquerytouch_jquerycookies.js"></script>
	<script src="/js/plugins/loader/loadingoverlay.min.js"></script>
	<script src="/js/plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<!-- Bootstrap and Popper.js -->
	<script src="/js/bootstrap_popper.min.js"></script>



	<!-- Grid Stack Start -->
	<script>var _tooltip = jQuery.fn.tooltip;</script>
	<script src="/js/jquery_ui.min.js"></script>
	<script>jQuery.fn.tooltip = _tooltip;</script>
	<script src="/js/grid_stack_pack.min.js"></script>


	<script src="/js/plugins/sparkline/jquery.sparkline.min.js"></script><!-- Sparkline -->
	<script src="/js/plugins/chartjs/Chart.bundle.min.js"></script><!-- Chart JS -->
	<script src="/js/plugins/colorpicker/bootstrap-colorpicker-plus.min.js"></script><!-- ColorPicker -->
	<script src="/js/plugins/jquery_confirm/jquery_confirm.js"></script><!-- Confirm -->
	<script src="/js/plugins/toaster/jquery.toaster.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
	<script src="~/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
	<!-- DataTable Start -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/colreorder/1.5.1/js/dataTables.colReorder.min.js"></script>
	<script src="https://cdn.datatables.net/colvis/1.1.2/js/dataTables.colVis.min.js"></script>
	<!-- DataTable End -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sumoselect/3.0.2/jquery.sumoselect.min.js"></script>
	<!-- Sumoselect -->
	<script src="/js/script.js"></script><!-- Common Scripts -->
	@* <script src="/assets/js/Common.js" asp-append-version="true"></script> *@
	<div class="theme-wrapper">
		<header style="background-color: rgb(12, 52, 61);"></header><!-- Header -->
		<div class="theme-content" id="themeContent">
			<!-- Adjust padding to account for the side menu width -->
			<aside class="console-sidemenu active" id="sidemenu" style="background-color: rgb(12, 52, 61); position: fixed; top: 0; left: 0; width: 250px; height: 100%; transition: transform 0.3s ease;overflow-y: scroll; scrollbar-width: none; -ms-overflow-style: none;"></aside>
			@RenderBody()
			@* <aside class="more-opt-panel"></aside> *@
		</div>
		

	</div><!-- Theme Wrapper -->
	
	<script src="https://code.highcharts.com/highcharts.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
<script>
	function toggleSideMenu() {
		var sidemenu = document.getElementById('sidemenu');
		var themeContent = document.getElementById('themeContent');

		if (sidemenu.classList.contains('inactive')) {
			sidemenu.classList.remove('inactive');
			themeContent.classList.remove('no-padding');
		} else {
			sidemenu.classList.add('inactive');
			themeContent.classList.add('no-padding');
		}
	}
</script>

</html>
