@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "SiteDashboard";
}
<style>

	.card {
		border: none;
	}

	.console-panel-body {
		/* Set the width to be the same as the stack area */
		width: inherit;
		/* or specify a fixed width or percentage */
		max-width: inherit;
		/* optional: limit maximum width */
		/* Add other styling properties as needed */
	}
</style>
<div class="content-area">
	<div id="toparea" class="style4"></div>
	<div class="card p-4">
		<div class="row">

			<div class="col-12 card">
				<div class="row mb-3">
					<div class="col-lg-8 col-md-12">
						<div class="row">

							<div class="col">
								<div class="input-group">
									<div class="input-group-append">
										<div class="input-group-text"><i class="far fa-calendar"></i></div>
									</div>
									<input type="text" class="form-control datepicker-here"
										   data-language='en' data-date-format="MM dd,yyyy" placeholder="From">
								</div>
							</div>
							<div class="col">
								<div class="input-group">
									<div class="input-group-append">
										<div class="input-group-text"><i class="far fa-calendar"></i></div>
									</div>
									<input type="text" class="form-control datepicker-here"
										   data-language='en' data-date-format="MM dd,yyyy" placeholder="To">
								</div>
							</div>

						</div>
					</div>
					<div class="col-lg-auto">
						<button class="btn btn-accent ">Search</button>
					</div>
					<div class="col">
						<button class="btn btn-success">Excel</button>
					</div>

				</div>

				<div class="table-container">
					<table class="table table-striped console-table table-bordered table-hover mb-0"
						   id="Siteloadtable">
						<thead class="sorticon-pos">
							<tr>
								<th>Sr no</th>
								<th>Date</th>
								<th>Time</th>
								<th>Dc Out Power</th>
								<th>Load1 Current</th>
								<th>Load1 Energy</th>
								<th>Load1 Voltage</th>
								<th>Total Load Current</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
				<div class="console-footer">
					<div class="dt-bottom-container"></div>
				</div>
			</div>
		</div>

	</div>
</div>
<script src="/js/page-level/datatable/datatableForSiteBatteryDetails.js"></script>

