@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Request Reset Password - KayPeePMS</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/dist/img/favicon.jpg">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/assets/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link href="~/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/assets/dist/css/adminlte.min.css">
    <link href="~/assets/css/loader.css" rel="stylesheet" />
    <link href="~/assets/css/common.css" rel="stylesheet" />
</head>

<body class="hold-transition login-page">
    <div class="myloader-container" style="display:none;">
        <span class="myloader"></span>
        <p>Please wait...</p>
    </div>
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="javascript:void(0);" class="h1"><b>KayPeePMS</b> </a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Request Reset Password</p>
                <form id="DataForm">
                    <div class="mb-3">
                        <div class="input-group">
                            <input id="txtEmail" name="Email" type="text" autocomplete="off" class="form-control" placeholder="Email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="button" class="btn btn-primary btn-block" onclick="jsRequestEamilResetPassword()">Submit</button>
                        </div>

                        <!-- /.col -->
                    </div>
                </form>
                <p class="mt-3 mb-1">
                    <a href="/Login/LoginIndex">Login</a>
                </p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/assets/plugins/jquery-validation/jquery.validate.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/assets/dist/js/adminlte.min.js"></script>
    <script src="~/assets/js/common.js"></script>
    <script>
        $(document).ready(function () {
            
            $('#DataForm input').keydown(function (e) {
                if (e.keyCode == 13) {
                    jsRequestEamilResetPassword();
                }
            });
        });
        $("#DataForm").validate({
            rules: {
                Email: {
                    required: true,
                    noEmptySpaces: true,
                    emailExt: true
                }
            },
            //For custom messages
            messages: {
                Email: {
                    required: "Enter Email",
                    emailExt: "Enter valid email"
                }
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else if (element.parent().find('div').hasClass('input-group-append')) {
                    error.insertAfter(element.parent().find('div.input-group-append').parent());  // select2
                } else {
                    error.insertAfter(element);
                }
            }
        });
        function jsRequestEamilResetPassword() {

            var form = $("#DataForm");
            form.validate();
            if (form.valid()) {
                loader(1);
                var model = {
                    Search: $('#txtEmail').val(),
                }
                $.ajax({
                    type: "POST",
                    url: '/Login/RequestEamilResetPassword',
                    data: model,
                    success: function (data) {
                        if (data.status) {
                            MessagealertwithRedirect('s', data.message, '/Login/LoginIndex');
                        }
                        else {
                            Messagealert('w', data.message);
                        }
                        loader(0);
                    },
                    error: function (req, status, err) {
                        loader(0);
                        Messagealert('e', 'something went wrong' + status + err);
                    }
                })
            }
        }
        function loader(id) {
            //1 to show and 0 to hide loader
            if (id == 1) {
                $('.myloader-container').show();
            }
            else {
                $('.myloader-container').hide();
            }
        }


    </script>
</body>
</html>
