@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_blankLayout.cshtml";
    ViewData["Title"] = "Reset Password";
}

<div class="content-wrapper">
    <section class="content pt-5">
        <div class="container-fluid">
            <div class="card">
                <div class="modal-header">
                    <h4 class="modal-title">Reset Password</h4>
                </div>
                <div class="card-body">
                    <form id="frmData">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Password  <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <input type="password" class="form-control" id="txtNewPassword" tabindex="2" name="NewPassword" maxlength="250" autocomplete="off">
                                        <div class="input-group-append"><span class="input-group-text" style="cursor: pointer;"><i id="IconSpNew" class="fas fa-eye" onclick="ShowChangePassword('txtNewPassword', 'IconSpNew')"></i></span></div>
                                        <input type="hidden" id="txtmainId" value="@ViewBag.id" />
                                        <input type="hidden" id="txtuId" value="@ViewBag.userId" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Confirm Password  <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <input type="password" class="form-control" id="txtConfirmPassword" tabindex="3" name="ConfirmPassword" maxlength="250" autocomplete="off">
                                        <div class="input-group-append"><span class="input-group-text" style="cursor: pointer;"><i id="IconSpConfirm" class="fas fa-eye" onclick="ShowChangePassword('txtConfirmPassword', 'IconSpConfirm')"></i></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <button id="btnSave" type="button" class="btn  btn-primary btnmdlsubmit" tabindex="8">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/jscontroller/UserResetPasswordjs.js" asp-append-version="true"></script>
