@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "SiteDashboard";
}
<style>
 #temp,
    #Battery,
    #Solar,
    #Grid,
    #Generator {
        text-align: center;
        width: 100%;
        height: 250px;
        max-width: 100%
    } 

    #Camera {
        width: 500px;
        height: 200px;
        max-width: 100%
    }

    .center-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #alink{
        cursor: pointer;
    }
</style>


<div class="content-area" id="content-area">
    <div class="row p-2">
        <div class="col-4">
            <div class="form-group">
                <h5>Select Site</h5>
                <select class="select2 form-control">
                    <option value="Site1">Site 1</option>
                    <option value="Site1">Site 2</option>
                </select>
            </div>
        </div>
        <div class="col-4 mt-4">
            <div class="form-group">
                <button class="btn btn-accent">Search</button>
            </div>
        </div>
        <div class="col-4 mt-4" >
            <div class="form-group" style="float: right;">
                <button class="btn btn-accent" id="pdfDownload">Download</button>
            </div>
        </div>
    </div>

    <div class="grid-stack gs-area">
        <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="12" data-gs-height="5"
             data-gs-min-height="5" data-gs-min-width="3" data-gs-no-resize="true">
            <div class="console-panel grid-stack-item-content console-no-header">
               
                <div class="console-panel-body" style="background-color: rgb(147, 196, 125);">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="row mb-3">
                                <div class="col-lg-2 col-md-12">
                                    <label style="font-weight: bold;">Site ID</label> :<span id="siteID"></span><br />
                                    <label style="font-weight: bold;">Site Type</label> :<span id="siteType"></span>
                                </div>
                                <div class="col-lg-2 col-md-12">
                                    <label style="font-weight: bold;">Site Name</label> :<span id="siteName"></span><br />
                                    <label style="font-weight: bold;">No of DG</label> :<span id="noOfDg"> </span>
                                </div>
                                <div class="col-lg-2 col-md-12">
                                    <label style="font-weight: bold;">Region</label> :<span id="region"></span><br />
                                    <label style="font-weight: bold;">Type Of cooling</label> :<span id="typeOfCooling"></span>
                                </div>
                                <div class="col-lg-2 col-md-12">
                                    <label style="font-weight: bold;">State</label> :<span id="state"></span><br />
                                    <label style="font-weight: bold;">Site Running On</label> :<span class="text-success" id="siteRunningOn"></span>

                                </div>
                                <div class="col-lg-2 col-md-12">
                                    <label style="font-weight: bold;">Country</label> :<span id="country"></span><br />
                                    <label style="font-weight: bold;">No of Tenant : <span " id="noOfTenant"></span></label>
                                </div>
                                <div class="col-lg-2 col-md-12">
                                    
                                </div>
                                <div class="col-lg-2 col-md-12">
                                    <label style="font-weight: bold;">As on</label>:<span id="searchOn">
                                    </span>
                                </div>
                                <div class="col-lg-2 col-md-12">
                                    <a class="" href="/Site/Map" title=""><i class="icon dripicons-location"></i>Site Direction</a>
                                    
                                </div>
                                <div class="col-lg-2 col-md-12">
                                    <a class="" href="/Site/LiveData" data-toggle="modal" data-target=".siteImages" title=""><i class="fa fa-building"></i> Site Photo</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div><!-- Console Panel -->
        </div>
        <div class="grid-stack-item ui-resizable-disabled" data-gs-x="6" data-gs-y="8" data-gs-width="12" data-gs-height="5"
             data-gs-min-height="5" data-gs-min-width="3">
            <div class="console-panel grid-stack-item-content console-no-header">
                <div class="console-panel-body" style="background-color: rgb(255, 217, 102);">
                    <div class="cph-left">
                        <h5 id="alink" style="font-weight: bold;"><a href="/Site/SystemDetails">System Status</a></h5>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="row mb-3">
                                <div class="col-3">
                                    <label style="font-weight: bold;">System Voltage</label> :<span id="systemVolatge">52.5 V</span><br />
                                    <label style="font-weight: bold;">Rectifier Power</label> :<span id="rectifierPower">20 W</span>
                                </div>
                                <div class="col-3">
                                    <label style="font-weight: bold;">Load Current</label> :<span id="loadCurrent">0.1 A</span><br />
                                    <label style="font-weight: bold;">Temperature</label> :<span id="temperature"> 31.4 C</span>
                                </div>
                                <div class="col-3">
                                    <label style="font-weight: bold;">Rectifier Current</label> :<span id="rectifierCurrent">0.4 A</span><br />
                                    <label style="font-weight: bold;">Ac Voltage</label> :<span id="acVoltage"> 198.1 V</span>
                                </div>
                                <div class="col-3">
                                    <label style="font-weight: bold;">Battery Current</label> :<span id="batteryCurrent">0.7 A</span><br />
                                    <label style="font-weight: bold;">System Power</label> :<span id="systemPower">5 W</span>

                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div><!-- Console Panel -->
        </div>
        <div class="grid-stack-item" data-gs-x="0" data-gs-y="15"
             data-gs-width="8" data-gs-height="15" data-gs-min-height="10"
             data-gs-min-width="8">
            <div class="console-panel grid-stack-item-content">
                <div class="console-panel-header light" style="background-color: rgb(12, 52, 61);">
                    <div class="cph-left">
                        <h5>Site Power Source Details</h5>
                    </div>
                    <div class="cph-right">
                        <ul class="top-header-btns">
                            <li>
                                <a class="switch-full" href="#"
                                   title="Expand Panel To Full Screen"
                                   data-rel="tooltip">
                                    <i class="icon dripicons-expand-2"></i>
                                </a>
                            </li>
                            <li>
                                <a class="collapse-panel" href="#"
                                   title="Collapse/Uncollapse Panel"
                                   data-rel="tooltip">
                                    <i class="icon dripicons-chevron-up"></i>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown"
                                   title="Panel Options" data-rel="tooltip">
                                    <i class="icon dripicons-dots-3"></i>
                                </a>
                                <div class="dropdown-menu  dropdown-menu-right theme-media">
                                    <div class="dropdown-menu-header">
                                        <div class="dmh-inner">
                                            <h4>Panel Options</h4>
                                        </div>
                                    </div>
                                    <a class="dropdown-item cp" href="#"
                                       title="">
                                        <span class="color-fill-icon"
                                              style="background-color:#fff;"></span>
                                        Header Background Color
                                    </a>
                                    <a class="dropdown-item header-fontcolor"
                                       href="#" title="">
                                        <span class="color-fill-icon"
                                              style="background-color:#333"></span>
                                        Header Font Color Dark/Light
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="removeWidget" href="#"
                                   title="Remove Panel" data-rel="tooltip">
                                    <i class="icon dripicons-cross"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!-- Panel Header -->
                <div class="console-panel-body no-padding">
                    <div id="floatingBarChart" ></div>
                </div>

            </div><!-- Console Panel -->
        </div>
         <div class="grid-stack-item" data-gs-x="8" data-gs-y="15"
             data-gs-width="4" data-gs-height="15" data-gs-min-height="10"
             data-gs-min-width="4">
            <div class="console-panel grid-stack-item-content">
                <div class="console-panel-header light" style="background-color: rgb(12, 52, 61);">
                    <div class="cph-left">
                        <h5>Total Run Hour Details</h5>
                    </div>
                    <div class="cph-right">
                        <ul class="top-header-btns">
                            <li>
                                <a class="switch-full" href="#"
                                   title="Expand Panel To Full Screen"
                                   data-rel="tooltip">
                                    <i class="icon dripicons-expand-2"></i>
                                </a>
                            </li>
                            <li>
                                <a class="collapse-panel" href="#"
                                   title="Collapse/Uncollapse Panel"
                                   data-rel="tooltip">
                                    <i class="icon dripicons-chevron-up"></i>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown"
                                   title="Panel Options" data-rel="tooltip">
                                    <i class="icon dripicons-dots-3"></i>
                                </a>
                                <div class="dropdown-menu  dropdown-menu-right theme-media">
                                    <div class="dropdown-menu-header">
                                        <div class="dmh-inner">
                                            <h4>Panel Options</h4>
                                        </div>
                                    </div>
                                    <a class="dropdown-item cp" href="#"
                                       title="">
                                        <span class="color-fill-icon"
                                              style="background-color:#fff;"></span>
                                        Header Background Color
                                    </a>
                                    <a class="dropdown-item header-fontcolor"
                                       href="#" title="">
                                        <span class="color-fill-icon"
                                              style="background-color:#333"></span>
                                        Header Font Color Dark/Light
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="removeWidget" href="#"
                                   title="Remove Panel" data-rel="tooltip">
                                    <i class="icon dripicons-cross"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!-- Panel Header -->
                <div class="console-panel-body no-padding">
                    <div id="BarChart" ></div>
                </div>

            </div><!-- Console Panel -->
        </div>
        <div class="grid-stack-item" data-gs-x="0" data-gs-y="31" data-gs-width="12" data-gs-height="32"
             data-gs-min-height="32" data-gs-min-width="3">
            <div class="console-panel grid-stack-item-content console-no-header">
                <div class="console-panel-body">
                    <div class="mytab theme1">
                        <ul class="nav nav-tabs">
                            <li>
                                <a class="nav-link active" data-toggle="tab" data-target="#tab4">
                                    
                                    Tenant 1
                                </a>
                            </li>

                        </ul><!-- Selectors -->

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab4">
                                <div class="grid-stack grid-stacks  gs-area">
                                    <div class="grid-stack-item" data-gs-x="0" data-gs-y="34"
                                         data-gs-width="4" data-gs-height="14" data-gs-min-height="14"
                                         data-gs-min-width="4">
                                        <div class="console-panel grid-stack-item-content">
                                            <div class="console-panel-header light" style="background-color: rgb(12, 52, 61);">
                                                <div class="cph-left">
                                                    <h5>Grid <i class="icon dripicons-bell text-warning" style="font-size: 1em;"></i></h5>
                                                </div>
                                                <div class="cph-right">
                                                    <ul class="top-header-btns">
                                                        <li>
                                                            <a class="collapse-panel" href="#"
                                                               title="Collapse/Uncollapse Panel"
                                                               data-rel="tooltip">
                                                                <i class="icon dripicons-chevron-up"></i>
                                                            </a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a href="#" data-toggle="dropdown"
                                                               title="Panel Options" data-rel="tooltip">
                                                                <i class="icon dripicons-dots-3"></i>
                                                            </a>
                                                            <div class="dropdown-menu  dropdown-menu-right theme-media">
                                                                <div class="dropdown-menu-header">
                                                                    <div class="dmh-inner">
                                                                        <h4>Panel Options</h4>
                                                                    </div>
                                                                </div>
                                                                <a class="dropdown-item cp" href="#"
                                                                   title="">
                                                                    <span class="color-fill-icon"
                                                                          style="background-color:#fff;"></span>
                                                                    Header Background Color
                                                                </a>
                                                                <a class="dropdown-item header-fontcolor"
                                                                   href="#" title="">
                                                                    <span class="color-fill-icon"
                                                                          style="background-color:#333"></span>
                                                                    Header Font Color Dark/Light
                                                                </a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a class="removeWidgets" href="#"
                                                               title="Remove Panel" data-rel="tooltip">
                                                                <i class="icon dripicons-cross"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div><!-- Panel Header -->
                                            <div class="console-panel-body ">
                                                <a href="/Site/Grid">
                                                <div class="row P-0" id="Grid">
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <<div class="col-12 text-center center-img">
                                                                    
                                                                    <i class="fa fa-solid fa-bolt" style="font-size:3em;"></i><br />
                                                            </div>
                                                            <div class="col-12 text-center">
                                                                <label>3 Phase </label><br />
                                                                <label class="text-warning">
                                                                    
                                                                    Grid Type
                                                                </label><br />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-4 text-center">
                                                                <Span id="GRVOLT"></Span> <br />
                                                                <span class="text-warning ">R VOLT</span>
                                                            </div>
                                                            <div class="col-4 text-center">
                                                                <Span id="GVVOLT"></Span> <br />
                                                                <span class="text-warning ">Y VOLT</span>
                                                            </div>
                                                            <div class="col-4 text-center">
                                                                <Span id="GBVOLT"></Span> <br />
                                                                <span class="text-warning ">B VOLT</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-4 text-center">
                                                                <Span id="GRCR"></Span> <br />
                                                                <span class="text-warning ">R CR</span>
                                                            </div>
                                                            <div class="col-4 text-center">
                                                                <Span id="GVCt"></Span> <br />
                                                                <span class="text-warning ">Y CT</span>
                                                            </div>
                                                            <div class="col-4 text-center">
                                                                <Span id="GBCR"></Span> <br />
                                                                <span class="text-warning ">B CR</span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                </a>
                                            </div>
                                        </div><!-- Console Panel -->
                                    </div><!-- Console Panel grid -->
                                    <div class="grid-stack-item" data-gs-x="4" data-gs-y="34"
                                         data-gs-width="4" data-gs-height="14" data-gs-min-height="14"
                                         data-gs-min-width="4">
                                        <div class="console-panel grid-stack-item-content">
                                            <div class="console-panel-header light" style="background-color: rgb(12, 52, 61);">
                                                <div class="cph-left">
                                                    <h5>Generator <i class="icon dripicons-bell text-warning" style="font-size: 1em;"></i></h5>
                                                </div>
                                                <div class="cph-right">
                                                    <ul class="top-header-btns">
                                                        <li>
                                                            <a class="collapse-panel" href="#"
                                                               title="Collapse/Uncollapse Panel"
                                                               data-rel="tooltip">
                                                                <i class="icon dripicons-chevron-up"></i>
                                                            </a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a href="#" data-toggle="dropdown"
                                                               title="Panel Options" data-rel="tooltip">
                                                                <i class="icon dripicons-dots-3"></i>
                                                            </a>
                                                            <div class="dropdown-menu  dropdown-menu-right theme-media">
                                                                <div class="dropdown-menu-header">
                                                                    <div class="dmh-inner">
                                                                        <h4>Panel Options</h4>
                                                                    </div>
                                                                </div>
                                                                <a class="dropdown-item cp" href="#"
                                                                   title="">
                                                                    <span class="color-fill-icon"
                                                                          style="background-color:#fff;"></span>
                                                                    Header Background Color
                                                                </a>
                                                                <a class="dropdown-item header-fontcolor"
                                                                   href="#" title="">
                                                                    <span class="color-fill-icon"
                                                                          style="background-color:#333"></span>
                                                                    Header Font Color Dark/Light
                                                                </a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a class="removeWidgets" href="#"
                                                               title="Remove Panel" data-rel="tooltip">
                                                                <i class="icon dripicons-cross"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div><!-- Panel Header -->
                                            <div class="console-panel-body">
                                                <a href="/Site/Generator">
                                                <div class="row" id="Generator">
                                                    <div class="col-12">
                                                       
                                                        <div class="row">
                                                            <<div class="col-12 text-center center-img">
                                                                    <i class="fa fa-solid fa-industry" style="font-size:3em;"></i><br />
                                                            </div>
                                                           <div class="col-12 text-center">
                                                                <label> 1 Nos</label><br />
                                                                <label class="text-warning">
                                                                    Generator
                                                                </label><br />
                                                            </div>

                                                        </div>
                                                        <div class="row">
                                                            <div class="col-4 text-center">
                                                                <Span id="gRVolt">O V</Span> <br />
                                                                <span class="text-warning ">R VOLT</span>
                                                            </div>
                                                            <div class="col-4 text-center">
                                                                <Span id="gYVlot">O V</Span> <br />
                                                                <span class="text-warning ">Y VOLT</span>
                                                            </div>
                                                            <div class="col-4 text-center">
                                                                <Span id="gBVlot">O V</Span> <br />
                                                                <span class="text-warning ">B VOLT</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-4 text-center">
                                                                <Span id="BRCt">O A</Span> <br />
                                                                <span class="text-warning ">R CT</span>
                                                            </div>
                                                            <div class="col-4 text-center">
                                                                <Span id="BVCt">O A</Span><br />
                                                                <span class="text-warning ">Y CT</span>
                                                            </div>
                                                            <div class="col-4 text-center">
                                                                <Span id="BBCt">O A</Span><br />
                                                                <span class="text-warning ">B CT</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-4 text-center">
                                                                <Span id="gFreq">O Hz</Span><br />
                                                                <span class="text-warning ">Freq</span>
                                                            </div>
                                                            <div class="col-4 text-center">
                                                                <Span id="gFuel"></Span><br />
                                                                <span class="text-warning ">Fuel</span>
                                                            </div>
                                                            <div class="col-4 text-center">
                                                                <Span id="gBat">O V</Span> <br />
                                                                <span class="text-warning ">Bat VOLT</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!-- Console Panel gen -->
                                    <div class="grid-stack-item" data-gs-x="8" data-gs-y="34"
                                         data-gs-width="4" data-gs-height="14" data-gs-min-height="14"
                                         data-gs-min-width="4">
                                        <div class="console-panel grid-stack-item-content">
                                            <div class="console-panel-header light" style="background-color: rgb(12, 52, 61);">
                                                <div class="cph-left">
                                                    <h5>Battery <i class="icon dripicons-bell text-warning" style="font-size: 1em;"></i></h5>
                                                </div>
                                                <div class="cph-right">
                                                    <ul class="top-header-btns">
                                                        <li>
                                                            <a class="collapse-panel" href="#"
                                                               title="Collapse/Uncollapse Panel"
                                                               data-rel="tooltip">
                                                                <i class="icon dripicons-chevron-up"></i>
                                                            </a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a href="#" data-toggle="dropdown"
                                                               title="Panel Options" data-rel="tooltip">
                                                                <i class="icon dripicons-dots-3"></i>
                                                            </a>
                                                            <div class="dropdown-menu  dropdown-menu-right theme-media">
                                                                <div class="dropdown-menu-header">
                                                                    <div class="dmh-inner">
                                                                        <h4>Panel Options</h4>
                                                                    </div>
                                                                </div>
                                                                <a class="dropdown-item cp" href="#"
                                                                   title="">
                                                                    <span class="color-fill-icon"
                                                                          style="background-color:#fff;"></span>
                                                                    Header Background Color
                                                                </a>
                                                                <a class="dropdown-item header-fontcolor"
                                                                   href="#" title="">
                                                                    <span class="color-fill-icon"
                                                                          style="background-color:#333"></span>
                                                                    Header Font Color Dark/Light
                                                                </a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a class="removeWidgets" href="#"
                                                               title="Remove Panel" data-rel="tooltip">
                                                                <i class="icon dripicons-cross"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div><!-- Panel Header -->
                                            <div class="console-panel-body">
                                                <a href="/Site/Battery">
                                                    <div class="row" id="Battery">
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <<div class="col-12 text-center center-img">
                                                                    <i class="fa fa-car-battery" style="font-size:3em;"></i><br />
                                                                </div>
                                                                <div class="col-12 text-center">
                                                                    <label>1 Nos</label><br />
                                                                    <label class="text-warning">
                                                                        Battery
                                                                    </label><br />
                                                                </div>

                                                            </div>

                                                            <div class="row">
                                                                <div class="col-6 text-center">
                                                                    <Span id="BattreyType">Lithium</Span> <br />
                                                                    <span class="text-warning ">
                                                                        Battery
                                                                        Type
                                                                    </span>
                                                                </div>
                                                                <div class="col-6 text-center">
                                                                    <Span id="NoOfBattery">22 Nos</Span> <br />
                                                                    <span class="text-warning ">
                                                                        No of
                                                                        Battery
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-6 text-center">
                                                                    <Span id="Ct">-76.00 A</Span> <br />
                                                                    <span class="text-warning ">CT</span>
                                                                </div>
                                                                <div class="col-6 text-center">
                                                                    <Span id="Volt">48.01 V</Span> <br />
                                                                    <span class="text-warning ">VOLT</span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-6 text-center">
                                                                    <Span id="AvgBatTemp">26.64 C</Span> <br />
                                                                    <span class="text-warning ">
                                                                        Avg
                                                                        Bat.Temp
                                                                    </span>
                                                                </div>
                                                                <div class="col-6 text-center">
                                                                    <Span id="AvgEngTemp">26.64 C</Span> <br />
                                                                    <span class="text-warning ">
                                                                        Avg
                                                                        Eng.Temp
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div><!-- Console Panel -->
                                    </div><!-- Console Panel batt -->
                                    <div class="grid-stack-item" data-gs-x="0" data-gs-y="48"
                                         data-gs-width="4" data-gs-height="14" data-gs-min-height="14"
                                         data-gs-min-width="4">
                                        <div class="console-panel grid-stack-item-content">
                                            <div class="console-panel-header light" style="background-color: rgb(12, 52, 61);">
                                                <div class="cph-left">
                                                    <h5>Solar <i class="icon dripicons-bell text-warning" style="font-size: 1em;"></i></h5>
                                                </div>
                                                <div class="cph-right">
                                                    <ul class="top-header-btns">
                                                        <li>
                                                            <a class="collapse-panel" href="#"
                                                               title="Collapse/Uncollapse Panel"
                                                               data-rel="tooltip">
                                                                <i class="icon dripicons-chevron-up"></i>
                                                            </a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a href="#" data-toggle="dropdown"
                                                               title="Panel Options" data-rel="tooltip">
                                                                <i class="icon dripicons-dots-3"></i>
                                                            </a>
                                                            <div class="dropdown-menu  dropdown-menu-right theme-media">
                                                                <div class="dropdown-menu-header">
                                                                    <div class="dmh-inner">
                                                                        <h4>Panel Options</h4>
                                                                    </div>
                                                                </div>
                                                                <a class="dropdown-item cp" href="#"
                                                                   title="">
                                                                    <span class="color-fill-icon"
                                                                          style="background-color:#fff;"></span>
                                                                    Header Background Color
                                                                </a>
                                                                <a class="dropdown-item header-fontcolor"
                                                                   href="#" title="">
                                                                    <span class="color-fill-icon"
                                                                          style="background-color:#333"></span>
                                                                    Header Font Color Dark/Light
                                                                </a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a class="removeWidgets" href="#"
                                                               title="Remove Panel" data-rel="tooltip">
                                                                <i class="icon dripicons-cross"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div><!-- Panel Header -->
                                            <div class="console-panel-body">
                                                <a href="/Site/Solar">
                                                <div class="row" id="temp">
                                                    <div class="col-12">
                                                       
                                                        <div class="row">
                                                            <div class="col-12 text-center center-img">
                                                                    <i class="fa fa-sharp fa-solid fa-solar-panel" style="font-size:3em;"></i><br />
                                                            </div>
                                                            <div class="col-12 text-center">
                                                                <label id="NoofChargers"></label><br />
                                                                <label class="text-warning">No of Chargers</label><br />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6 text-center ">
                                                                <Span id="IPCt"></Span> <br />
                                                                <span class="text-warning ">I/P CT</span>
                                                            </div>
                                                            <div class="col-6 text-center">
                                                                <Span id="IPVolt"></Span> :<br />
                                                                <span class="text-warning ">I/P VOLT</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6 text-center">
                                                                <Span id="OPCt"> </Span><br />
                                                                <span class="text-warning ">O/P CT</span>
                                                            </div>
                                                            <div class="col-6 text-center">
                                                                <Span id="OPVolt"></Span> <br />
                                                                <span class="text-warning ">O/P VOLT</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!-- Console Panel solar -->
                                    <div class="grid-stack-item" data-gs-x="4" data-gs-y="48"
                                         data-gs-width="4" data-gs-height="14" data-gs-min-height="14"
                                         data-gs-min-width="4">
                                        <div class="console-panel grid-stack-item-content">
                                            <div class="console-panel-header light" style="background-color: rgb(12, 52, 61);">
                                                <div class="cph-left">
                                                    <h5>Rectifier <i class="icon dripicons-bell text-warning" style="font-size: 1em;"></i></h5>
                                                </div>
                                                <div class="cph-right">
                                                    <ul class="top-header-btns">
                                                        <li>
                                                            <a class="collapse-panel" href="#"
                                                               title="Collapse/Uncollapse Panel"
                                                               data-rel="tooltip">
                                                                <i class="icon dripicons-chevron-up"></i>
                                                            </a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a href="#" data-toggle="dropdown"
                                                               title="Panel Options" data-rel="tooltip">
                                                                <i class="icon dripicons-dots-3"></i>
                                                            </a>
                                                            <div class="dropdown-menu  dropdown-menu-right theme-media">
                                                                <div class="dropdown-menu-header">
                                                                    <div class="dmh-inner">
                                                                        <h4>Panel Options</h4>
                                                                    </div>
                                                                </div>
                                                                <a class="dropdown-item cp" href="#"
                                                                   title="">
                                                                    <span class="color-fill-icon"
                                                                          style="background-color:#fff;"></span>
                                                                    Header Background Color
                                                                </a>
                                                                <a class="dropdown-item header-fontcolor"
                                                                   href="#" title="">
                                                                    <span class="color-fill-icon"
                                                                          style="background-color:#333"></span>
                                                                    Header Font Color Dark/Light
                                                                </a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a class="removeWidgets" href="#"
                                                               title="Remove Panel" data-rel="tooltip">
                                                                <i class="icon dripicons-cross"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div><!-- Panel Header -->
                                            <div class="console-panel-body">
                                                <a href="/Site/Rectifier">
                                                <div class="row" id="Solar">
                                                    <div class="col-12">
                                                        
                                                        <div class="row">
                                                            <div class="col-12 text-center center-img">
                                                                    <i class="fa fa-microchip" style="font-size:3em;"></i><br />
                                                            </div>
                                                                
                                                            <div class="col-12 text-center">
                                                                <label id="NoofRectifier"></label><br />
                                                                <label class="text-warning">
                                                                    No of Rectifier
                                                                </label><br />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6 text-center">
                                                                <Span id="RIPCt"></Span> <br />
                                                                <span class="text-warning ">I/P CT</span>
                                                            </div>
                                                            <div class="col-6 text-center">
                                                                <Span id="RIPVolt"></Span> <br />
                                                                <span class="text-warning ">I/P VOLT</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6 text-center">
                                                                <Span id="ROPCt"></Span> <br />
                                                                <span class="text-warning ">O/P CT</span>
                                                            </div>
                                                            <div class="col-6 text-center">
                                                                <Span id="OPVolt"></Span> <br />
                                                                <span class="text-warning ">O/P VOLT</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!-- Console Panel rec -->
                                    <div class="grid-stack-item" data-gs-x="8" data-gs-y="48"
                                         data-gs-width="4" data-gs-height="14" data-gs-min-height="14"
                                         data-gs-min-width="4">
                                        <div class="console-panel grid-stack-item-content">
                                            <div class="console-panel-header light" style="background-color: rgb(12, 52, 61);">
                                                <div class="cph-left">
                                                    <h5>Portable Battery <i class="icon dripicons-bell text-warning" style="font-size: 1em;"></i></h5>
                                                </div>
                                                <div class="cph-right">
                                                    <ul class="top-header-btns">
                                                        <li>
                                                            <a class="collapse-panel" href="#"
                                                               title="Collapse/Uncollapse Panel"
                                                               data-rel="tooltip">
                                                                <i class="icon dripicons-chevron-up"></i>
                                                            </a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a href="#" data-toggle="dropdown"
                                                               title="Panel Options" data-rel="tooltip">
                                                                <i class="icon dripicons-dots-3"></i>
                                                            </a>
                                                            <div class="dropdown-menu  dropdown-menu-right theme-media">
                                                                <div class="dropdown-menu-header">
                                                                    <div class="dmh-inner">
                                                                        <h4>Panel Options</h4>
                                                                    </div>
                                                                </div>
                                                                <a class="dropdown-item cp" href="#"
                                                                   title="">
                                                                    <span class="color-fill-icon"
                                                                          style="background-color:#fff;"></span>
                                                                    Header Background Color
                                                                </a>
                                                                <a class="dropdown-item header-fontcolor"
                                                                   href="#" title="">
                                                                    <span class="color-fill-icon"
                                                                          style="background-color:#333"></span>
                                                                    Header Font Color Dark/Light
                                                                </a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a class="removeWidgets" href="#"
                                                               title="Remove Panel" data-rel="tooltip">
                                                                <i class="icon dripicons-cross"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div><!-- Panel Header -->
                                            <div class="console-panel-body">
                                                <a href="/Site/PortableBattery">
                                                    <div class="row" id="Battery">
                                                        <div class="col-12">
                                                           
                                                            <div class="row">
                                                                <<div class="col-12 text-center center-img">
                                                                    <i class="fa fa-solid fa-charging-station" style="font-size:3em;"></i><br />
                                                                </div>
                                                                <div class="col-12 text-center">
                                                                    <label>1 Nos</label><br />
                                                                    <label class="text-warning">
                                                                        Portable Battery
                                                                    </label><br />
                                                                </div>

                                                            </div>

                                                            <div class="row">
                                                                <div class="col-6 text-center">
                                                                    <Span id="BattreyType">Lithium</Span> <br />
                                                                    <span class="text-warning ">
                                                                        Battery
                                                                        Type
                                                                    </span>
                                                                </div>
                                                                <div class="col-6 text-center">
                                                                    <Span id="NoOfBattery">22 Nos</Span> <br />
                                                                    <span class="text-warning ">
                                                                        No of
                                                                        Battery
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-6 text-center">
                                                                    <Span id="Ct">-76.00 A</Span> <br />
                                                                    <span class="text-warning ">CT</span>
                                                                </div>
                                                                <div class="col-6 text-center">
                                                                    <Span id="Volt">48.01 V</Span> <br />
                                                                    <span class="text-warning ">VOLT</span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-6 text-center">
                                                                    <Span id="AvgBatTemp">26.64 C</Span> <br />
                                                                    <span class="text-warning ">
                                                                        Avg
                                                                        Bat.Temp
                                                                    </span>
                                                                </div>
                                                                <div class="col-6 text-center">
                                                                    <Span id="AvgEngTemp">26.64 C</Span> <br />
                                                                    <span class="text-warning ">
                                                                        Avg
                                                                        Eng.Temp
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div><!-- Console Panel -->
                                    </div>

                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="grid-stack gs-area" id="controller">
        <div class="grid-stack-item" data-gs-x="0" data-gs-y="57"
             data-gs-width="12" data-gs-height="8" data-gs-min-height="8"
             data-gs-min-width="12">
            <div class="console-panel grid-stack-item-content">
                <div class="console-panel-header light" style="background-color: rgb(12, 52, 61);">
                    <div class="cph-left">
                        <h5>Device Controller</h5>
                    </div>
                    <div class="cph-right">
                        <ul class="top-header-btns">
                            <li>
                                <a class="collapse-panel" href="#"
                                   title="Collapse/Uncollapse Panel"
                                   data-rel="tooltip">
                                    <i class="icon dripicons-chevron-up"></i>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown"
                                   title="Panel Options" data-rel="tooltip">
                                    <i class="icon dripicons-dots-3"></i>
                                </a>
                                <div class="dropdown-menu  dropdown-menu-right theme-media">
                                    <div class="dropdown-menu-header">
                                        <div class="dmh-inner">
                                            <h4>Panel Options</h4>
                                        </div>
                                    </div>
                                    <a class="dropdown-item cp" href="#"
                                       title="">
                                        <span class="color-fill-icon"
                                              style="background-color:#fff;"></span>
                                        Header Background Color
                                    </a>
                                    <a class="dropdown-item header-fontcolor"
                                       href="#" title="">
                                        <span class="color-fill-icon"
                                              style="background-color:#333"></span>
                                        Header Font Color Dark/Light
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="removeWidget" href="#"
                                   title="Remove Panel" data-rel="tooltip">
                                    <i class="icon dripicons-cross"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!-- Panel Header -->
                <div class="console-panel-body">
                    <div class="row">
                        <div class="col-2">
                            <label class="col-form-label">Aircon 1</label><br />
                            <span class="console-switch">
                                <label class="switch with-bg bg-success">
                                    <input type="checkbox" id="Action1">
                                    <span class="slider round"></span>
                                </label>
                            </span>
                        </div>
                        <div class="col-2 text-center text-warning">
                            <label class="col-form-label">Aircon 2</label><br />
                            <span class="console-switch">
                                <label class="switch with-bg bg-success">
                                    <input type="checkbox" id="Action3">
                                    <span class="slider round"></span>
                                </label>
                            </span>

                        </div>
                        <div class="col-2 text-center text-warning">
                            <label class="col-form-label">DG</label><br />
                            <span class="console-switch">
                                <label class="switch with-bg bg-success">
                                    <input type="checkbox" id="Action2">
                                    <span class="slider round"></span>
                                </label>
                            </span>
                        </div>
                        <div class="col-2 text-center text-warning">
                            <label class="col-form-label">Enclosure</label><br />
                            <span class="console-switch">
                                <label class="switch with-bg bg-success">
                                    <input type="checkbox" id="Action4">
                                    <span class="slider round"></span>
                                </label>
                            </span>
                        </div>
                        <div class="col-2 text-center text-warning">
                            <label class="col-form-label">Others</label><br />
                            <span class="console-switch">
                                <label class="switch with-bg bg-success">
                                    <input type="checkbox" id="Action5">
                                    <span class="slider round"></span>
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- Console Panel -->
        </div>
    </div>
    <br />
    <div class="grid-stack gs-area" id="cameraDiv">
        <div class="grid-stack-item" data-gs-x="0" data-gs-y="65"
             data-gs-width="12" data-gs-height="12" data-gs-min-height="12"
             data-gs-min-width="6">
            <div class="console-panel grid-stack-item-content">
                <div class="console-panel-header light" style="background-color: rgb(12, 52, 61);">
                    <div class="cph-left">
                        <h5>Camera Image</h5>
                    </div>
                    <div class="cph-right">
                        <ul class="top-header-btns">
                            <li>
                                <a class="collapse-panel" href="#"
                                   title="Collapse/Uncollapse Panel"
                                   data-rel="tooltip">
                                    <i class="icon dripicons-chevron-up"></i>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown"
                                   title="Panel Options" data-rel="tooltip">
                                    <i class="icon dripicons-dots-3"></i>
                                </a>
                                <div class="dropdown-menu  dropdown-menu-right theme-media">
                                    <div class="dropdown-menu-header">
                                        <div class="dmh-inner">
                                            <h4>Panel Options</h4>
                                        </div>
                                    </div>
                                    <a class="dropdown-item cp" href="#"
                                       title="">
                                        <span class="color-fill-icon"
                                              style="background-color:#fff;"></span>
                                        Header Background Color
                                    </a>
                                    <a class="dropdown-item header-fontcolor"
                                       href="#" title="">
                                        <span class="color-fill-icon"
                                              style="background-color:#333"></span>
                                        Header Font Color Dark/Light
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="removeWidget" href="#"
                                   title="Remove Panel" data-rel="tooltip">
                                    <i class="icon dripicons-cross"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!-- Panel Header -->
                <div class="console-panel-body">
                    <div class="row" id="Camera">
                        <div class="col-6">
                            <h6>Cam 1</h6>
                            <img src="/images/Ex.jpg" alt="Image 1">

                        </div>
                        <div class="col-6">
                            <h6>Cam 2</h6>
                            <img src="/images/Ex.jpg" alt="Image 1">

                        </div>
                    </div>

                </div>
            </div><!-- Console Panel -->
        </div>
    </div>
    <br/>
    <div class="grid-stack gs-area">
        <div class="grid-stack-item" data-gs-x="0" data-gs-y="77"
             data-gs-width="12" data-gs-height="17" data-gs-min-height="10"
             data-gs-min-width="3">
            <div class="console-panel grid-stack-item-content">
                <div class="console-panel-header light" style="background-color: rgb(12, 52, 61);">
                    <div class="cph-left">
                        <h5>Recent Alarms</h5>
                    </div>
                    <div class="cph-right">
                        <ul class="top-header-btns">
                            <li>
                                <a class="switch-full" href="#"
                                   title="Expand Panel To Full Screen"
                                   data-rel="tooltip">
                                    <i class="icon dripicons-expand-2"></i>
                                </a>
                            </li>
                            <li>
                                <a class="collapse-panel" href="#"
                                   title="Collapse/Uncollapse Panel"
                                   data-rel="tooltip">
                                    <i class="icon dripicons-chevron-up"></i>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown"
                                   title="Panel Options" data-rel="tooltip">
                                    <i class="icon dripicons-dots-3"></i>
                                </a>
                                <div class="dropdown-menu  dropdown-menu-right theme-media">
                                    <div class="dropdown-menu-header">
                                        <div class="dmh-inner">
                                            <h4>Panel Options</h4>
                                        </div>
                                    </div>
                                    <a class="dropdown-item cp" href="#"
                                       title="">
                                        <span class="color-fill-icon"
                                              style="background-color:#fff;"></span>
                                        Header Background Color
                                    </a>
                                    <a class="dropdown-item header-fontcolor"
                                       href="#" title="">
                                        <span class="color-fill-icon"
                                              style="background-color:#333"></span>
                                        Header Font Color Dark/Light
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="removeWidget" href="#"
                                   title="Remove Panel" data-rel="tooltip">
                                    <i class="icon dripicons-cross"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!-- Panel Header -->
                <div class="console-panel-body no-padding">
                    <div class="table-container">
                        <table class="table table-striped console-table table-bordered table-hover mb-0"
                               id="alarmsstable">
                            <thead class="sorticon-pos">
                                <tr class="filtersRow">
                                    <th class="filterhead"></th>
                                    <th class="filterhead"></th>
                                    <th class="filterhead"></th>
                                    <th class="filterhead"></th>
                                </tr>
                                <tr>
                                    <th>SrNo</th>
                                    <th>Alarms</th>
                                    <th>Alarms Date</th>
                                    <th>Severvity</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="console-footer">
                    <div class="dt-bottom-container"></div>
                </div>
            </div><!-- Console Panel -->
        </div>
    </div>
    
</div>
<!-- Images Modal -->
<div class="modal fade bd-example-modal-lg siteImages" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Site Photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id="Camera">
                    <div class="col-6">
                        
                        <img src="/images/Ex.jpg" alt="Image 1">
                    </div>
                    <div class="col-6">
                        
                        <img src="/images/Ex.jpg" alt="Image 1">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div id="editor"></div>

<!--Site Details Modal -->
<div class="modal fade bd-example-modal-lg siteDirection" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Site Dircetion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6"> <label>Site ID</label> :<span class="text-warning">01</span></div>
                    <div class="col-6"> <label>Site Name</label> :<span class="text-warning">Abc</span></div>
                    <div class="col-12"> <label>Site Type</label> :<span class="text-warning">Hybrid</span></div>
                    <div class="col-6"> <label>Lat</label> :<span class="text-warning">11.023</span></div>
                    <div class="col-6"> <label>Lang</label> :<span class="text-warning">89.054</span></div>
                    <div class="col-6"> <label>Cluster</label> :<span class="text-warning">Leeds</span></div>
                    <div class="col-6"> <label>State</label> :<span class="text-warning">U k</span></div>
                    <div class="col-12"> <label>Site In Charge</label> :<span class="text-warning">Jhon</span></div>
                    <div class="col-6"><button class="btn btn-small btn-primary">Site Directions</button></div>
                    <div class="col-6"><button class="btn btn-small btn-primary">View Site Data</button></div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<!-- Include jsPDF -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
@* <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script> *@
<script src="/JsController/SiteDashboardJs.js" asp-append-version="true"></script>

<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script>
    
    $(document).ready(function () {
        $('#pdfDownload').click(function () {
            debugger;
            const { jsPDF } = window.jspdf;
            var controller = $('#controller').detach();
            html2canvas($("#content-area")[0], {
                onrendered: function (canvas) {
                    // Get the screen width and height
                    var screenWidth = $(window).width();
                    var screenHeight = $(window).height();

                    // Get the width and height of the #content-area
                    var contentWidth = $("#content-area").outerWidth();
                    var contentHeight = $("#content-area").outerHeight();

                    // Determine the PDF width and height
                    var pdfWidth = Math.max(screenWidth, contentWidth);
                    var pdfHeight = Math.max(screenHeight, contentHeight);

                    // Create a new jsPDF instance
                    var pdf = new jsPDF('p', 'mm', [pdfWidth, pdfHeight]);

                    // Add the captured image to the PDF
                    pdf.addImage(canvas.toDataURL('image/png'), 'PNG', 0, 0, pdfWidth, pdfHeight);

                    // Save the PDF
                    pdf.save('sample-file.pdf');
                }
            });
            setTimeout(function () {
                // Code to execute after timeout

                $('#content-area').find('#cameraDiv').before(controller);
            }, 1000);
        });
       
    am5.ready(function () {

        // Create root element
        // https://www.amcharts.com/docs/v5/getting-started/#Root_element
        var root = am5.Root.new("floatingBarChart");


        // Set themes
        // https://www.amcharts.com/docs/v5/concepts/themes/
        root.setThemes([
            am5themes_Animated.new(root)
        ]);


        // Create chart
        // https://www.amcharts.com/docs/v5/charts/xy-chart/
        var chart = root.container.children.push(am5xy.XYChart.new(root, {
            panX: false,
            panY: false,
            wheelX: "panX",
            wheelY: "zoomX",
            layout: root.verticalLayout,
            paddingLeft: 0
        }));


        // Add legend
        // https://www.amcharts.com/docs/v5/charts/xy-chart/legend-xy-series/
        var legend = chart.children.push(am5.Legend.new(root, {
            centerX: am5.p50,
            x: am5.p50
        }))

        var colors = chart.get("colors");

        // Data
        var data = [{
            name: "Solar",
            startTime: 8,
            endTime: 11,
            columnSettings: {
                stroke: colors.getIndex(1),
                fill: colors.getIndex(1)
            }
        }, {
            name: "DG",
            startTime: 10,
            endTime: 13,
            columnSettings: {
                stroke: colors.getIndex(3),
                fill: colors.getIndex(3)
            }
        }, {
            name: "EB",
            startTime: 11,
            endTime: 18,
            columnSettings: {
                stroke: colors.getIndex(5),
                fill: colors.getIndex(5)
            }
        }, {
            name: "Battery",
            startTime: 15,
            endTime: 19,
            columnSettings: {
                stroke: colors.getIndex(7),
                fill: colors.getIndex(7)
            }
        }];


        // Create axes
        // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
        var yRenderer = am5xy.AxisRendererY.new(root, {
            minorGridEnabled: true
        });
        var yAxis = chart.yAxes.push(
            am5xy.CategoryAxis.new(root, {
                categoryField: "name",
                renderer: yRenderer,
                tooltip: am5.Tooltip.new(root, {})
            })
        );

        yRenderer.grid.template.setAll({
            location: 1
        })

        yAxis.data.setAll(data);

        var xAxis = chart.xAxes.push(
            am5xy.ValueAxis.new(root, {
                renderer: am5xy.AxisRendererX.new(root, {
                    strokeOpacity: 0.1,
                    minGridDistance: 60
                })
            })
        );


        // Add series
        // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
        var series = chart.series.push(am5xy.ColumnSeries.new(root, {
            name: "Income",
            xAxis: xAxis,
            yAxis: yAxis,
            openValueXField: "startTime",
            valueXField: "endTime",
            categoryYField: "name",
            sequencedInterpolation: true
        }));

        series.columns.template.setAll({
            height: am5.percent(100),
            templateField: "columnSettings",
            tooltipText: "[bold]{name}[/]\n{categoryY}: {valueX}"
        });

        series.data.setAll(data);

        // Make stuff animate on load
        // https://www.amcharts.com/docs/v5/concepts/animations/
        series.appear();
        chart.appear(1000, 100);

    }); // end am5.ready()
    });
</script>
<script>
    $(document).ready(function () {

        am5.ready(function () {

            // Create root element
            // https://www.amcharts.com/docs/v5/getting-started/#Root_element
            var root = am5.Root.new("BarChart");

            // Set themes
            // https://www.amcharts.com/docs/v5/concepts/themes/
            root.setThemes([
                am5themes_Animated.new(root)
            ]);

            // Create chart
            // https://www.amcharts.com/docs/v5/charts/xy-chart/
            var chart = root.container.children.push(am5xy.XYChart.new(root, {
                panX: false,
                panY: false,
                wheelX: "none",
                wheelY: "none",
                paddingLeft: 0
            }));

            // Add cursor
            // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
            var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {}));
            cursor.lineY.set("visible", false);

            // Create axes
            // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
            var xRenderer = am5xy.AxisRendererX.new(root, {
                minGridDistance: 30,
                minorGridEnabled: true
            });

            var xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
                maxDeviation: 0,
                categoryField: "name",
                renderer: xRenderer,
                tooltip: am5.Tooltip.new(root, {})
            }));

            xRenderer.grid.template.set("visible", false);

            var yRenderer = am5xy.AxisRendererY.new(root, {});
            var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
                maxDeviation: 0,
                min: 0,
                extraMax: 0.1,
                renderer: yRenderer
            }));

            yRenderer.grid.template.setAll({
                strokeDasharray: [2, 2]
            });

            // Create series
            // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
            var series = chart.series.push(am5xy.ColumnSeries.new(root, {
                name: "Series 1",
                xAxis: xAxis,
                yAxis: yAxis,
                valueYField: "value",
                sequencedInterpolation: true,
                categoryXField: "name",
                tooltip: am5.Tooltip.new(root, { dy: -25, labelText: "{valueY}" })
            }));


            series.columns.template.setAll({
                cornerRadiusTL: 5,
                cornerRadiusTR: 5,
                strokeOpacity: 0
            });

            series.columns.template.adapters.add("fill", (fill, target) => {
                return chart.get("colors").getIndex(series.columns.indexOf(target));
            });

            series.columns.template.adapters.add("stroke", (stroke, target) => {
                return chart.get("colors").getIndex(series.columns.indexOf(target));
            });

            // Set data
            var data = [
                {
                    name: "Solar",
                    value: 4,
                    bulletSettings: { src: "/img/Solar1.png" }
                },
                {
                    name: "EB/Grid",
                    value: 6,
                    bulletSettings: { src: "/img/eb.png" }
                },
                {
                    name: "Battery",
                    value: 4,
                    bulletSettings: { src: "/img/automation.png" }
                },
                {
                    name: "DG",
                    value: 10,
                    bulletSettings: { src: "/img/dg.png" }
                }
            ];

            series.bullets.push(function () {
                return am5.Bullet.new(root, {
                    locationY: 1,
                    sprite: am5.Picture.new(root, {
                        templateField: "bulletSettings",
                        width: 50,
                        height: 50,
                        centerX: am5.p50,
                        centerY: am5.p50,
                        shadowColor: am5.color(0x000000),
                        shadowBlur: 4,
                        shadowOffsetX: 4,
                        shadowOffsetY: 4,
                        shadowOpacity: 0.6
                    })
                });
            });

            xAxis.data.setAll(data);
            series.data.setAll(data);

            // Make stuff animate on load
            // https://www.amcharts.com/docs/v5/concepts/animations/
            series.appear(1000);
            chart.appear(1000, 100);

        }); // end am5.ready()
    });
</script>