@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "SiteDashboard";
}

<div class="content-area">
	<div id="toparea" class="style4"></div>
	<div class="grid-stack gs-area">
	<div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="12" data-gs-height="12"
		 data-gs-min-height="10" data-gs-min-width="12">
		<div class="console-panel grid-stack-item-content">
			<div class="console-panel-header">
				<div class="cph-left">
					<h5>Live Site Status</h5>
				</div>
				<div class="cph-right">
					<div class="get_dt_button"></div>
					<ul class="top-header-btns">
						<li>
							<a class="collapse-panel" href="#" title="Collapse/Uncollapse Panel"
							   data-rel="tooltip"> <i class="icon dripicons-chevron-up"></i></a>
						</li>
						<li class="dropdown">
							<a href="#" data-toggle="dropdown" title="Panel Options" data-rel="tooltip">
								<i class="icon dripicons-dots-3"></i>
							</a>
							<div class="dropdown-menu  dropdown-menu-right theme-media">
								<div class="dropdown-menu-header">
									<div class="dmh-inner">
										<h4>Panel Options</h4>
									</div>
								</div>
								<a class="dropdown-item cp" href="#" title="">
									<span class="color-fill-icon" style="background-color:#fff;"></span>
									Header Background Color
								</a>
								<a class="dropdown-item header-fontcolor" href="#" title="">
									<span class="color-fill-icon" style="background-color:#333"></span>
									Header Font Color Dark/Light
								</a>
							</div>
						</li>
						<li>
							<a class="removeWidget" href="#" title="Remove Panel" data-rel="tooltip">
								<i class="icon dripicons-cross"></i>
							</a>
						</li>
					</ul>
				</div>
			</div><!-- Panel Header -->
			<div class="console-panel-body no-padding">
				<div class="table-container">
					<table class="sitetable table table-striped console-table table-bordered table-hover mb-0"
						   id="Sitetable">
						<thead class="sorticon-pos">

							<tr>
								<th rowspan="3">S No</th>
								<th rowspan="3">Site ID</th>
								<th rowspan="3">Site Name</th>
								<th rowspan="3">Data Received On</th>
								<th rowspan="3">SiteRunning ON </th>
								<th rowspan="2" colspan="4" class="text-center">System </th>
								<th colspan="7" class="text-center">AC</th>
								<th rowspan="2" colspan="3" class="text-center">Battery</th>
								<th rowspan="2" colspan="6" class="text-center">Rectifier</th>
							</tr>
							<tr>
								<th colspan="3" class="text-center">Voltage</th>
								<th colspan="3" class="text-center">Current</th>
								<th rowspan="2" class="text-center">Freq</th>
							</tr>
							<tr>
								<th>Voltage</th>
								<th>Load Current</th>
								<th>Power</th>
								<th>Soc</th>
								<th>R</th>
								<th>Y</th>
								<th>B</th>
								<th>R</th>
								<th>Y</th>
								<th>B</th>
								<th>Status</th>
								<th>Total Current</th>
								<th>Voltage</th>
								<th>Qty</th>
								<th>Total Power</th>
								<th>I/P Voltage</th>
								<th>O/P Current</th>
								<th>I/P Voltage</th>
								<th>O/P Current</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
			<div class="console-footer">
				<div class="dt-bottom-container"></div>
			</div>
		</div><!-- Console Panel -->
	</div>


</div>

	<aside class="more-opt-panel"></aside>
</div><!-- Theme Content -->
<script src="/JsController/DashboardJs.js" asp-append-version="true"></script>