@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Site Master";
}
<style>
    .card {
        display: flex;
        flex-wrap: wrap;
    }
</style>

<div class="content-area">
    <div id="toparea" class="style4"></div>
    <div class="card p-2">
        <div class="row mb-3">
            <div class="col-6"></div>
            <div class="col-6 text-right">
                <a data-title="Add Site" class="get_pn" href="/Site/SiteMaster">
                    <button class="btn btn-primary inline-block focus:outline-none bg-brand-500 mt-1 text-white hover:bg-brand-600 hover:text-white  text-md font-medium py-2 px-4 rounded">
                        + Add Site
                    </button>
                </a>
            </div>
        </div>
                <div class="table-container">
            <table class="table table-striped console-table table-bordered table-hover mb-0"
                           id="SiteDataTable">
                        <thead class="">
                    @* <tr class="filtersRow">
                        <th class="filterhead filterheads"></th>
                        <th class="filterhead filterheads"></th>
                        <th class="filterhead filterheads"></th>
                        <th class="filterhead filterheads"></th>
                        <th class="filterhead filterheads"></th>
                        <th class="filterhead filterheads"></th>
                        <th class="filterhead filterheads"></th>
                        <th class="filterhead filterheads"></th>
                    </tr> *@
                            <tr>
                                <th>Sl no</th>
                                <th>Site Id</th>
                                <th>Site Name</th>
                                <th>Site Type</th>
                                <th>Country</th>
                                <th>Region</th>
                                <th>State</th>
                                <th>Type of Cooling</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
            <div class="console-footer">
                <div class="dt-bottom-container"></div>
            </div>
                </div>
        
            </div>
    
          
    </div>


</div><!-- Content Area -->
<script src="/JsController/SiteMasterJs.js" asp-append-version="true"></script>
