@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "SiteDashboard";
}
<!-- AM Charts Start -->
		<script src="https://www.amcharts.com/lib/4/core.js"></script>
		<script src="https://www.amcharts.com/lib/4/charts.js"></script>
		<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
		<!-- AM Charts End -->

<style>
	.col .card {
		display: flex;
		flex-wrap: wrap;
	}

	.col .card {
		width: calc(50% - 10px);
		/* Adjust the width based on your preference */
		margin: 1px;
		/* Add some margin between images */
		height: 30px;
		width: 30px;
		/* Maintain aspect ratio */
		object-fit: cover;
		text-align: center;
		/* Ensure images cover the entire space */
	}

	#chartdiv {
		width: 700px;
		height: 300px;
		max-width: 100%
	}

	#RCchartdiv {
		width: 700px;
		height: 300px;
		max-width: 100%
	}

	#SCchartdiv {
		width: 700px;
		height: 300px;
		max-width: 100%
	}

	#BCCchartdiv {
		width: 700px;
		height: 300px;
		max-width: 100%
	}

	#BCchartdiv {
		width: 700px;
		height: 300px;
		max-width: 100%
	}

	.card {
		border: none;
	}
</style>
<div class="content-area">
	<div id="toparea" class="style4"></div>
	<div class="card p-3">
		<div class="row">
			<div class="col-4">
				<div class="form-group">
					<h5>Select Site</h5>
					<select class="select2 form-control">
						<option value="Site1">Site 1</option>
						<option value="Site1">Site 2</option>
					</select>
				</div>
			</div>
			<div class="col-4 mt-4">
				<div class="form-group">
					<button class="btn btn-accent ">Show</button>
				</div>
			</div>

				<div class="col-8">
					<h5>System Details</h5><br />
				</div>
				<div class="col-4">
					<div class="form-group" style="float: right;">
						<button class="btn btn-accent">Download</button>
					</div>
				</div>
			<div class="col-12">
				<div class="mytab theme1">
					<ul class="nav nav-tabs">
						<li>
							<a class="nav-link active" data-toggle="tab" data-target="#Summary">
								Summary
							</a>
						</li>
						<li> <a class="nav-link" data-toggle="tab" data-target="#RawData">Raw Data</a> </li>

					</ul><!-- Selectors -->


					<div class="tab-content">
						<div class="tab-pane  show active" id="Summary">
							<div class="card">
								<div class="card-body">
									<div class="grid-stack gs-area">
										<div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="4"
											 data-gs-height="15" data-gs-min-height="15" data-gs-min-width="4">
											<div class="console-panel grid-stack-item-content">
												<div class="console-panel-header">
													<div class="cph-left">
														<h5>Parameter Status</h5>
													</div>
													<div class="cph-right">
														<ul class="top-header-btns">

															<li>
																<a class="collapse-panel" href="#" title="Collapse/Uncollapse Panel"
																   data-rel="tooltip"> <i class="icon dripicons-chevron-up"></i></a>
															</li>
															<li class="dropdown">
																<a href="#" data-toggle="dropdown" title="Panel Options" data-rel="tooltip">
																	<i class="icon dripicons-dots-3"></i>
																</a>
																<div class="dropdown-menu  dropdown-menu-right theme-media">
																	<div class="dropdown-menu-header">
																		<div class="dmh-inner">
																			<h4>Panel Options</h4>
																		</div>
																	</div>
																	<a class="dropdown-item cp" href="#" title="">
																		<span class="color-fill-icon" style="background-color:#fff;"></span>
																		Header Background Color
																	</a>
																	<a class="dropdown-item header-fontcolor" href="#" title="">
																		<span class="color-fill-icon" style="background-color:#333"></span>
																		Header Font Color Dark/Light
																	</a>
																</div>
															</li>
															<li>
																<a class="removeWidget" href="#" title="Remove Panel" data-rel="tooltip">
																	<i class="icon dripicons-cross"></i>
																</a>
															</li>
														</ul>
													</div>
												</div><!-- Panel Header -->

												<div class="console-panel-body align-center">
													
													<label>Sys Voltage (V) :</label> <span class="text-warning" id="SysVoltage">Lithum</span><br />
													<label>HVDC Voltage (V) :</label> <span class="text-warning" id="HVDCV">22 </span><br />
													<label> Rectifier Total Current :</label> <span class="text-warning" id="RTC"> -61.00 A</span><br />
													<label>Solar Total Current (C):</label> <span class="text-warning" id="STC">49.49 V</span><br />
													<label>DCDC Total Current (C):</label> <span class="text-warning" id="DCDC">49.49 V</span><br />
													<label>HVDC Total Current (C):</label> <span class="text-warning" id="HVDC">49.49 V</span><br />
													<label>Load Total Current (C):</label> <span class="text-warning" id="Load">49.49 V</span><br />
													<label>Battery Temp (Cel.):</label> <span class="text-warning" id="BatteryTemp">49.49 V</span><br />
													<label>Enviroment Temp (Cel.):</label> <span class="text-warning" id="EnvironmentTemp">49.49 V</span><br />
													<label>Data Received On:</label> <span class="text-warning" id="DRO">									</span><br />
												</div>
											</div>
										</div>
										<div class="grid-stack-item" data-gs-x="4" data-gs-y="0" data-gs-width="8"
											 data-gs-height="15" data-gs-min-height="15" data-gs-min-width="8">
											<div class="console-panel grid-stack-item-content">
												<div class="console-panel-header">
													<div class="cph-left">
														<h5>Voltage (V)</h5>
													</div>
													<div class="cph-right">
														<ul class="top-header-btns">

															<li>
																<a class="collapse-panel" href="#" title="Collapse/Uncollapse Panel"
																   data-rel="tooltip"> <i class="icon dripicons-chevron-up"></i></a>
															</li>
															<li class="dropdown">
																<a href="#" data-toggle="dropdown" title="Panel Options" data-rel="tooltip">
																	<i class="icon dripicons-dots-3"></i>
																</a>
																<div class="dropdown-menu  dropdown-menu-right theme-media">
																	<div class="dropdown-menu-header">
																		<div class="dmh-inner">
																			<h4>Panel Options</h4>
																		</div>
																	</div>
																	<a class="dropdown-item cp" href="#" title="">
																		<span class="color-fill-icon" style="background-color:#fff;"></span>
																		Header Background Color
																	</a>
																	<a class="dropdown-item header-fontcolor" href="#" title="">
																		<span class="color-fill-icon" style="background-color:#333"></span>
																		Header Font Color Dark/Light
																	</a>
																</div>
															</li>
															<li>
																<a class="removeWidget" href="#" title="Remove Panel" data-rel="tooltip">
																	<i class="icon dripicons-cross"></i>
																</a>
															</li>
														</ul>
													</div>
												</div><!-- Panel Header -->
												<div class="console-panel-body align-center">

													<div class="chart-container">
														<div id="chartdiv"></div>
													</div>

												</div>
											</div>
										</div>
										<div class="grid-stack-item" data-gs-x="0" data-gs-y="15" data-gs-width="6"
											 data-gs-height="15" data-gs-min-height="15" data-gs-min-width="6">
											<div class="console-panel grid-stack-item-content">
												<div class="console-panel-header">
													<div class="cph-left">
														<h5>Load Current (C)</h5>
													</div>
													<div class="cph-right">
														<ul class="top-header-btns">

															<li>
																<a class="collapse-panel" href="#" title="Collapse/Uncollapse Panel"
																   data-rel="tooltip"> <i class="icon dripicons-chevron-up"></i></a>
															</li>
															<li class="dropdown">
																<a href="#" data-toggle="dropdown" title="Panel Options" data-rel="tooltip">
																	<i class="icon dripicons-dots-3"></i>
																</a>
																<div class="dropdown-menu  dropdown-menu-right theme-media">
																	<div class="dropdown-menu-header">
																		<div class="dmh-inner">
																			<h4>Panel Options</h4>
																		</div>
																	</div>
																	<a class="dropdown-item cp" href="#" title="">
																		<span class="color-fill-icon" style="background-color:#fff;"></span>
																		Header Background Color
																	</a>
																	<a class="dropdown-item header-fontcolor" href="#" title="">
																		<span class="color-fill-icon" style="background-color:#333"></span>
																		Header Font Color Dark/Light
																	</a>
																</div>
															</li>
															<li>
																<a class="removeWidget" href="#" title="Remove Panel" data-rel="tooltip">
																	<i class="icon dripicons-cross"></i>
																</a>
															</li>
														</ul>
													</div>
												</div><!-- Panel Header -->
												<div class="console-panel-body align-center">

													<div class="chart-container">
														<div id="BCchartdiv"></div>
													</div>

												</div>
											</div>
										</div>
										<div class="grid-stack-item" data-gs-x="6" data-gs-y="15" data-gs-width="6"
											 data-gs-height="15" data-gs-min-height="15" data-gs-min-width="6">
											<div class="console-panel grid-stack-item-content">
												<div class="console-panel-header">
													<div class="cph-left">
														<h5>Temperature (Cel.)</h5>
													</div>
													<div class="cph-right">
														<ul class="top-header-btns">
															<li>
																<a class="collapse-panel" href="#" title="Collapse/Uncollapse Panel"
																   data-rel="tooltip"> <i class="icon dripicons-chevron-up"></i></a>
															</li>
															<li class="dropdown">
																<a href="#" data-toggle="dropdown" title="Panel Options" data-rel="tooltip">
																	<i class="icon dripicons-dots-3"></i>
																</a>
																<div class="dropdown-menu  dropdown-menu-right theme-media">
																	<div class="dropdown-menu-header">
																		<div class="dmh-inner">
																			<h4>Panel Options</h4>
																		</div>
																	</div>
																	<a class="dropdown-item cp" href="#" title="">
																		<span class="color-fill-icon" style="background-color:#fff;"></span>
																		Header Background Color
																	</a>
																	<a class="dropdown-item header-fontcolor" href="#" title="">
																		<span class="color-fill-icon" style="background-color:#333"></span>
																		Header Font Color Dark/Light
																	</a>
																</div>
															</li>
															<li>
																<a class="removeWidget" href="#" title="Remove Panel" data-rel="tooltip">
																	<i class="icon dripicons-cross"></i>
																</a>
															</li>
														</ul>
													</div>
												</div><!-- Panel Header -->
												<div class="console-panel-body align-center">

													<div class="chart-container">
														<div id="BCCchartdiv"></div>
													</div>

												</div>
											</div>
										</div>
										<div class="grid-stack-item" data-gs-x="0" data-gs-y="30" data-gs-width="6"
											 data-gs-height="15" data-gs-min-height="15" data-gs-min-width="6">
											<div class="console-panel grid-stack-item-content">
												<div class="console-panel-header">
													<div class="cph-left">
														<h5>Rectifier Current</h5>
													</div>
													<div class="cph-right">
														<ul class="top-header-btns">

															<li>
																<a class="collapse-panel" href="#" title="Collapse/Uncollapse Panel"
																   data-rel="tooltip"> <i class="icon dripicons-chevron-up"></i></a>
															</li>
															<li class="dropdown">
																<a href="#" data-toggle="dropdown" title="Panel Options" data-rel="tooltip">
																	<i class="icon dripicons-dots-3"></i>
																</a>
																<div class="dropdown-menu  dropdown-menu-right theme-media">
																	<div class="dropdown-menu-header">
																		<div class="dmh-inner">
																			<h4>Panel Options</h4>
																		</div>
																	</div>
																	<a class="dropdown-item cp" href="#" title="">
																		<span class="color-fill-icon" style="background-color:#fff;"></span>
																		Header Background Color
																	</a>
																	<a class="dropdown-item header-fontcolor" href="#" title="">
																		<span class="color-fill-icon" style="background-color:#333"></span>
																		Header Font Color Dark/Light
																	</a>
																</div>
															</li>
															<li>
																<a class="removeWidget" href="#" title="Remove Panel" data-rel="tooltip">
																	<i class="icon dripicons-cross"></i>
																</a>
															</li>
														</ul>
													</div>
												</div><!-- Panel Header -->
												<div class="console-panel-body align-center">

													<div class="chart-container">
														<div id="RCchartdiv"></div>
													</div>

												</div>
											</div>
										</div>
										<div class="grid-stack-item" data-gs-x="6" data-gs-y="30" data-gs-width="6"
											 data-gs-height="15" data-gs-min-height="15" data-gs-min-width="6">
											<div class="console-panel grid-stack-item-content">
												<div class="console-panel-header">
													<div class="cph-left">
														<h5>Solar Current</h5>
													</div>
													<div class="cph-right">
														<ul class="top-header-btns">
															<li>
																<a class="collapse-panel" href="#" title="Collapse/Uncollapse Panel"
																   data-rel="tooltip"> <i class="icon dripicons-chevron-up"></i></a>
															</li>
															<li class="dropdown">
																<a href="#" data-toggle="dropdown" title="Panel Options" data-rel="tooltip">
																	<i class="icon dripicons-dots-3"></i>
																</a>
																<div class="dropdown-menu  dropdown-menu-right theme-media">
																	<div class="dropdown-menu-header">
																		<div class="dmh-inner">
																			<h4>Panel Options</h4>
																		</div>
																	</div>
																	<a class="dropdown-item cp" href="#" title="">
																		<span class="color-fill-icon" style="background-color:#fff;"></span>
																		Header Background Color
																	</a>
																	<a class="dropdown-item header-fontcolor" href="#" title="">
																		<span class="color-fill-icon" style="background-color:#333"></span>
																		Header Font Color Dark/Light
																	</a>
																</div>
															</li>
															<li>
																<a class="removeWidget" href="#" title="Remove Panel" data-rel="tooltip">
																	<i class="icon dripicons-cross"></i>
																</a>
															</li>
														</ul>
													</div>
												</div><!-- Panel Header -->
												<div class="console-panel-body align-center">

													<div class="chart-container">
														<div id="SCchartdiv"></div>
													</div>

												</div>
											</div>
										</div>
										
										
									</div>

								</div>


							</div>
						</div>
						<div class="tab-pane  fade" id="RawData">
							<div class="row mb-3">
								<div class="col-lg-8 col-md-12">
									<div class="row">

										<div class="col">
											<div class="input-group">
												<div class="input-group-append">
													<div class="input-group-text"><i class="far fa-calendar"></i></div>
												</div>
												<input type="text" class="form-control datepicker-here"
													   data-language='en' data-date-format="MM dd,yyyy" placeholder="From">
											</div>
										</div>
										<div class="col">
											<div class="input-group">
												<div class="input-group-append">
													<div class="input-group-text"><i class="far fa-calendar"></i></div>
												</div>
												<input type="text" class="form-control datepicker-here"
													   data-language='en' data-date-format="MM dd,yyyy" placeholder="To">
											</div>
										</div>

									</div>
								</div>
								<div class="col-lg-auto">
									<button class="btn btn-accent ">Search</button>
								</div>
								<div class="col">
									<button class="btn btn-success">Excel</button>
								</div>

							</div>
							<div class="card">
								<div class="card-body">

									<div class="table-container">
										<table class="table table-striped console-table table-bordered table-hover mb-0"
											   id="Batterytables">
											<thead class="sorticon-pos">
												<tr>
													<th rowspan="2">SlNo</th>
													<th rowspan="2">SiteID</th>
													<th rowspan="2">DateTime</th>
													<th colspan="2">Voltage (V)</th>
													<th colspan ="6">Total Current (C)</th>
													<th colspan ="2">Temperature (Cel)</th>
												</tr>
												<tr>
													<th>System</th>
													<th>HVDC</th>
													<th>Rectifier</th>
													<th>Solar</th>
													<th>DCDC</th>
													<th>HVDC</th>
													<th>Load</th>
													<th>Battery</th>
													<th>Battery</th>
													<th>Environment</th>
												</tr>
											</thead>
											<tbody></tbody>
										</table>
									</div>
								</div>
								<div class="console-footer">
					<div class="dt-bottom-container"></div>
				</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- Content Area -->

	<aside class="more-opt-panel"></aside>
</div><!-- Theme Content -->
<script src="/JsController/SiteSystemDetailsJs.js" asp-append-version="true"></script>
<!-- AM Charts Start -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<!-- AM Charts End -->
