
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Home";

}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<!-- AM Charts Start -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<!-- AM Charts End -->
<style>
	.sitetable.table.dataTable thead .sorting,
	.sitetable.table.dataTable thead .sorting_asc,
	.sitetable.table.dataTable thead .sorting_desc {
		background: none;
	}

	tr {
		cursor: pointer;
	}

	.small-box {
		background-color: #f4f4f4;
		border: 1px solid #ccc;
		border-radius: .25rem;
		position: relative;
		box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
		
		flex: 1 1 18%; /* Allow flexibility and equal width */
		box-sizing: border-box;
		display: block;
		height:70px;
		
		margin-bottom: 10px;
		margin: 5px;
	}
	
.small-box>.small-box-footer {
	background-color: rgba(0, 0, 0, .1);
	display: block;
	position: relative;
	text-align: center;
	text-decoration: none;
	z-index: 10;
			border-radius: .25rem;
			box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
		}

	.card-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 0px;
    box-sizing: border-box;
		margin-bottom: 23px;
}

	    .status-box {
         width: 87px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* font-size: 1.5em; */
    font-weight: bold;
    margin: 8px;
    border-radius: 2px;
        }
        .total-box {
            background-color: #00BCD4;
        }
        .major-box {
            background-color: #FFEB3B;
            color: #333;
        }
        .critical-box {
            background-color: #F44336;
        }

	.status-box div {
		text-align: center;
	}

@@media (max-width: 768px) {
    .card-row {
        flex-wrap: wrap;
    }

		.small-box {
        flex: 1 1 48%; /* Two cards per row on smaller screens */
    }
}

@@media (max-width: 480px) {
		.small-box {
        flex: 1 1 100%; /* One card per row on very small screens */
    }
}
	
</style>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/colvis/1.1.2/css/dataTables.colVis.css" />

<div class="content-area">
	<div class="card-row">
		
			@* <div class="small-box" style="background-color: #fdcf6e;">
				<div class="p">			<ul class="top-header-btns">
				<li>
					<i class="fas fa-sitemap" style="font-size: 3em;"></i>
				</li>

				<li>
					<span id="IDSite"></span>
					<h6 class="mb-0">ID Site </h6>
				</li>
				<li>
					<span id="ODSite">30</span>
					<h6 class="mb-0">OD Site</h6>
				</li>
				<li>
					<span id="IDODSite">60</span>
					<h6 class="mb-0">ID/OD Site</h6>
				</li>
			</ul>
			</div>
			<a href="#" class="small-box-footer moreInfo" data-id="2">More info <i class="fas fa-arrow-circle-right"></i></a>
			</div>
		
		
			<div class="small-box" style="background-color: #81df97;">
			<ul class="top-header-btns">
				<li> <i class="far fa-sun" style="font-size: 3em;"></i></li>
				<li>
					<h4 id="SolarHybridSite">5 sites</h4>
					<h6>Solar Hybrid Site</h6>
				</li>
			</ul>
			<a href="#" class="small-box-footer moreInfo" data-id="2">More info <i class="fas fa-arrow-circle-right"></i></a>
			</div>
		
		
			<div class="small-box" style="background-color: #90aff1;">
			<ul class="top-header-btns">
				<li> <i class="fas fa-solar-panel" style="font-size: 3em;"></i></li>
				<li>
					<h4 id="FullSolar">10 sites</h4>
					<h6>Full Solar</h6>
				</li>
			</ul>
			<a href="#" class="small-box-footer moreInfo" data-id="2">More info <i class="fas fa-arrow-circle-right"></i></a>
			</div>
		
		
			<div class="small-box" style="background-color: #0ebfffcc;">
			<ul class="top-header-btns">
				<li> <i class="fas fa-car-battery" style="font-size: 3em;"></i></li>
				<li>
					<h4 id="GDC">0 sites</h4>
					<h6>CDC (Genset + Batt)</h6>
				</li>
			</ul>
			<a href="#" class="small-box-footer moreInfo" data-id="1">More info <i class="fas fa-arrow-circle-right"></i></a>
			</div>
		
		
			<div class="small-box" style="background-color: #0ef7ffcc">
			<ul class="top-header-btns">
				<li> <i class="fas fa-car-battery" style="font-size: 3em;"></i></li>
				<li>
					<h4 id="Grid">0 sites</h4>
					<h6>Grid (Ac)</h6>
				</li>
			</ul>
			<a href="#" class="small-box-footer moreInfo" data-id="1">More info <i class="fas fa-arrow-circle-right"></i></a>
			</div> *@
		<div class="small-box" style="background-color: #fdcf6e;">
			<div class="console-panel  console-no-header" style="background-color: #fdcf6e;">
				<div class="console-panel-body align-center" style="padding:10px!important;">
					<ul class="top-header-btns">
						<li>
							<i class="fas fa-sitemap" style="font-size: 3em;"></i>
						</li>

						<li>
							<h6 id="IDSite"></h6>
							<h6 class="mb-0">ID Site </h6>
						</li>
						<li>
							<h6 id="ODSite">30</h6>
							<h6 class="mb-0">OD Site</h6>
						</li>
						<li>
							<h6 id="IDODSite">60</h6>
							<h6 class="mb-0">ID/OD Site</h6>
						</li>
					</ul>
				</div>
			</div>
			<a href="#" class="small-box-footer moreInfo" data-id="2" style="background-color: rgba(253, 207, 110, 0.5);">More info <i class="fas fa-arrow-circle-right"></i></a>
		</div><!-- Console Panel -->
		<div class="small-box" style="background-color: #0ef7ffcc;">
			<div class="console-panel console-no-header" style="background-color:#6c4eb705">
				<div class="card-body align-center " style="padding:10px!important;">
					<ul class="top-header-btns">
						<li> <i class="fa-solid fa-plug" style="font-size: 3em;"></i></li>
						<li>
							<h4 id="Grid">0 sites</h4>
							<h6>Grid (AC)</h6>
						</li>
					</ul>
				</div>
			</div><!-- Console Panel -->
			<a href="#" class="small-box-footer moreInfo" data-id="1" style="background-color: rgba(14, 247, 255, 0.5);">More info <i class="fas fa-arrow-circle-right"></i></a>
		</div>
		<div class="small-box" style="background-color: #81df97;">
			<div class="console-panel console-no-header" style="background-color: #81df97;">
				<div class="card-body align-center " style="padding:10px!important;">
					<ul class="top-header-btns">
						<li> <i class="far fa-sun" style="font-size: 3em;"></i></li>
						<li>
							<h4 id="SolarHybridSite">5 sites</h4>
							<h6>Solar Hybrid Site</h6>
						</li>
					</ul>
				</div>
			</div>
			<a href="#" class="small-box-footer moreInfo" data-id="1" style="background-color: rgba(129, 223, 151, 0.5);">More info <i class="fas fa-arrow-circle-right"></i></a>
		</div><!-- Console Panel -->
		<div class="small-box" style="background-color: #90aff1;">
			<div class="console-panel console-no-header" style="background-color: #90aff1;">
				<div class="card-body align-center " style="padding:10px!important;">

					<ul class="top-header-btns">
						<li> <i class="fas fa-solar-panel" style="font-size: 3em;"></i></li>
						<li>
							<h4 id="FullSolar">10 sites</h4>
							<h6>Full Solar (Solar + Batt.)</h6>
						</li>
					</ul>
				</div>
			</div>
			<a href="#" class="small-box-footer moreInfo" data-id="2" style="background-color: rgba(144, 175, 241, 0.5);">More info <i class="fas fa-arrow-circle-right"></i></a>
		</div>
		<div class="small-box" style="background-color: #0ebfffcc;">
			<div class="console-panel console-no-header" style="background-color: #0ebfffcc;">
				<div class="card-body align-center " style="padding:10px!important;">
					<ul class="top-header-btns">
						<li> <i class="fa-brands fa-superpowers" style="font-size: 3em;"></i></li>
						<li>
							<h4 id="GDC">0 sites</h4>
							<h6>CDC (Genset + Batt)</h6>
						</li>
					</ul>
				</div>
			</div><!-- Console Panel -->
			<a href="#" class="small-box-footer moreInfo" data-id="1" style="background-color: rgba(14, 191, 255, 0.5);">More info <i class="fas fa-arrow-circle-right"></i></a>
		</div>
		
	</div>
	<div class="grid-stack gs-area">
		<div class="grid-stack-item" data-gs-x="0" data-gs-y="7" data-gs-width="3" data-gs-height="12"
			 data-gs-min-height="10" data-gs-min-width="3" data-gs-no-resize="true">
			<div class="console-panel grid-stack-item-content">
				<div class="console-panel-header light" style="background-color: rgb(12, 52, 61);">
					<div class="cph-left">
						<h5>Site Status</h5>
					</div>
					<div class="cph-right">
						<ul class="top-header-btns">
							@*<li>
								<a class="collapse-panel" href="#" title="Collapse/Uncollapse Panel"
								   data-rel="tooltip"> <i class="icon dripicons-chevron-up"></i></a>
							</li>
							 <li class="dropdown">
								<a href="#" data-toggle="dropdown" title="Panel Options" data-rel="tooltip">
									<i class="icon dripicons-dots-3"></i>
								</a>
								<div class="dropdown-menu  dropdown-menu-right theme-media">
									<div class="dropdown-menu-header">
										<div class="dmh-inner">
											<h4>Panel Options</h4>
										</div>
									</div>
									<a class="dropdown-item cp" href="#" title="">
										<span class="color-fill-icon" style="background-color:#fff;"></span>
										Header Background Color
									</a>
									<a class="dropdown-item header-fontcolor" href="#" title="">
										<span class="color-fill-icon" style="background-color:#333"></span>
										Header Font Color Dark/Light
									</a>
								</div>
							</li>
							<li>
								<a class="removeWidget" href="#" title="Remove Panel" data-rel="tooltip">
									<i class="icon dripicons-cross"></i>
								</a>
							</li> *@
						</ul>
					</div>
				</div><!-- Panel Header -->
				<div class="console-panel-body ">
					<div class="chart-container">
						<div id="donutchart1"></div>
					</div>
				</div>
			</div><!-- Console Panel -->
		</div>
		<div class="grid-stack-item" data-gs-x="3" data-gs-y="7" data-gs-width="3" data-gs-height="12"
			 data-gs-min-height="10" data-gs-min-width="3" data-gs-no-resize="true">
			<div class="console-panel grid-stack-item-content">
				<div class="console-panel-header light" style="background-color: rgb(12, 52, 61);">
					<div class="cph-left">
						<h5>Green Status</h5>
					</div>
					@* <div class="cph-right">
					<ul class="top-header-btns">
					<li>
					<a class="switch-full" href="#" title="Expand Panel To Full Screen"
					data-rel="tooltip"> <i class="icon dripicons-expand-2"></i></a>
					</li>
					<li>
					<a class="collapse-panel" href="#" title="Collapse/Uncollapse Panel"
					data-rel="tooltip"> <i class="icon dripicons-chevron-up"></i></a>
					</li>
					<li class="dropdown">
					<a href="#" data-toggle="dropdown" title="Panel Options" data-rel="tooltip">
					<i class="icon dripicons-dots-3"></i>
					</a>
					<div class="dropdown-menu  dropdown-menu-right theme-media">
					<div class="dropdown-menu-header">
					<div class="dmh-inner">
					<h4>Panel Options</h4>
					</div>
					</div>
					<a class="dropdown-item cp" href="#" title="">
					<span class="color-fill-icon" style="background-color:#fff;"></span>
					Header Background Color
					</a>
					<a class="dropdown-item header-fontcolor" href="#" title="">
					<span class="color-fill-icon" style="background-color:#333"></span>
					Header Font Color Dark/Light
					</a>
					</div>
					</li>
					<li>
					<a class="removeWidget" href="#" title="Remove Panel" data-rel="tooltip">
					<i class="icon dripicons-cross"></i>
					</a>
					</li>
					</ul>
					</div> *@
				</div><!-- Panel Header -->
				<div class="console-panel-body">
					<div id="GreenStatusChart"></div>
					@* 	<div class="steamline m-t-40">
					<div class="sl-item">
					<div class="sl-left bg-warning">
					<i class="bg-warning icon dripicons-bell"></i>
					</div>
					<div class="sl-right">
					<div class="font-medium flex justify-content-between">
					<span class="bg-warning">NTSR</span><span class="sl-date"> 03:25 PM</span>
					</div>
					<div class="desc">NTSR |<span id="Alret1"></span></div>
					</div>
					</div>
					<div class="sl-item">
					<div class="sl-left bg-warning">
					<i class="bg-warning icon dripicons-bell"></i>
					</div>
					<div class="sl-right">
					<div class="font-medium flex justify-content-between">
					<span class="bg-warning">NTSR</span> <span class="sl-date">11:52 AM</span>
					</div>
					<div class="desc">NTSR | <span id="Alret2"></span></div>
					</div>
					</div>
					<div class="sl-item">
					<div class="sl-left bg-danger "><i class=" icon dripicons-bell"></i></div>
					<div class="sl-right">
					<div class="font-medium flex justify-content-between">
					<span class="bg-danger">NTSR</span> <span class="sl-date">11:52 AM</span>
					</div>
					<div class="desc">NTSR | <span id="Alret3"></span></div>
					</div>
					</div>

					</div> *@
				</div>
			</div><!-- Console Panel -->
		</div>
		@* <div class="grid-stack-item" data-gs-x="7" data-gs-y="7" data-gs-width="3" data-gs-height="12"
			 data-gs-min-height="10" data-gs-min-width="3">
			<div class="console-panel grid-stack-item-content">
				<div class="console-panel-header light" style="background-color: rgb(12, 52, 61);">
					<div class="cph-left">
						<h5>Site Running On </h5>
					</div>
					 <div class="cph-right">
						<ul class="top-header-btns">
							<li>
								<a class="collapse-panel" href="#" title="Collapse/Uncollapse Panel"
								   data-rel="tooltip"> <i class="icon dripicons-chevron-up"></i></a>
							</li>
							<li class="dropdown">
								<a href="#" data-toggle="dropdown" title="Panel Options" data-rel="tooltip">
									<i class="icon dripicons-dots-3"></i>
								</a>
								<div class="dropdown-menu  dropdown-menu-right theme-media">
									<div class="dropdown-menu-header">
										<div class="dmh-inner">
											<h4>Panel Options</h4>
										</div>
									</div>
									<a class="dropdown-item cp" href="#" title="">
										<span class="color-fill-icon" style="background-color:#fff;"></span>
										Header Background Color
									</a>
									<a class="dropdown-item header-fontcolor" href="#" title="">
										<span class="color-fill-icon" style="background-color:#333"></span>
										Header Font Color Dark/Light
									</a>
								</div>
							</li>
							<li>
								<a class="removeWidget" href="#" title="Remove Panel" data-rel="tooltip">
									<i class="icon dripicons-cross"></i>
								</a>
							</li>
						</ul>
					</div>
				</div><!-- Panel Header -->
				<div class="console-panel-body ">
					<div class="chart-container">
						<div id="singleStackedBarChart"></div>
						
					</div>
				</div>
			</div><!-- Console Panel -->
		</div> *@
		<div class="grid-stack-item" data-gs-x="6" data-gs-y="7" data-gs-width="3" data-gs-height="12"
			 data-gs-min-height="10" data-gs-min-width="3" data-gs-no-resize="true">
			<div class="console-panel grid-stack-item-content">
				<div class="console-panel-header light" style="background-color: rgb(12, 52, 61);">
					<div class="cph-left">
						<h5>Site Running On </h5>
					</div>
					@* <div class="cph-right">
						<ul class="top-header-btns">
							<li>
								<a class="collapse-panel" href="#" title="Collapse/Uncollapse Panel"
								   data-rel="tooltip"> <i class="icon dripicons-chevron-up"></i></a>
							</li>
							<li class="dropdown">
								<a href="#" data-toggle="dropdown" title="Panel Options" data-rel="tooltip">
									<i class="icon dripicons-dots-3"></i>
								</a>
								<div class="dropdown-menu  dropdown-menu-right theme-media">
									<div class="dropdown-menu-header">
										<div class="dmh-inner">
											<h4>Panel Options</h4>
										</div>
									</div>
									<a class="dropdown-item cp" href="#" title="">
										<span class="color-fill-icon" style="background-color:#fff;"></span>
										Header Background Color
									</a>
									<a class="dropdown-item header-fontcolor" href="#" title="">
										<span class="color-fill-icon" style="background-color:#333"></span>
										Header Font Color Dark/Light
									</a>
								</div>
							</li>
							<li>
								<a class="removeWidget" href="#" title="Remove Panel" data-rel="tooltip">
									<i class="icon dripicons-cross"></i>
								</a>
							</li>
						</ul>
					</div> *@
				</div><!-- Panel Header -->
				<div class="console-panel-body">
					<div class="progress-item">
						<div> <span>Battery</span> <span id="Battery">10 <span>(32%)</span></span> </div>
						<div class="progress">
							<div class="progress-bar bg-primary" style="width:32%"></div>
						</div><!-- progress -->
					</div>
					<div class="progress-item">
						<div><span>Solar</span><span id="Solar">12 <span>(38%)</span></span></div>
						<div class="progress">
							<div class="progress-bar bg-danger" style="width:38%"></div>
						</div><!-- progress -->
					</div>
					<div class="progress-item">
						<div> <span>Genset</span> <span id="Genset">9<span>(29%)</span></span> </div>
						<div class="progress">
							<div class="progress-bar bg-warning " style="width:29%"></div>
						</div><!-- progress -->
					</div>
					<div class="progress-item">
						<div> <span>EB</span> <span id="EB">0 <span>(0%)</span></span> </div>
						<div class="progress">
							<div class="progress-bar bg-info " style="width:0%"></div>
						</div><!-- progress -->
					</div>
				</div>
			</div><!-- Console Panel -->
		</div>
		
		<div class="grid-stack-item" data-gs-x="9" data-gs-y="7" data-gs-width="3" data-gs-height="12"
			 data-gs-min-height="10" data-gs-min-width="3" data-gs-no-resize="true">
			<div class="console-panel grid-stack-item-content">
				<div class="console-panel-header light" style="background-color: rgb(12, 52, 61);">
					<div class="cph-left">
						<h5>Alert Status</h5>
					</div>
					@* <div class="cph-right">
						<ul class="top-header-btns">
							<li>
								<a class="collapse-panel" href="#" title="Collapse/Uncollapse Panel"
								   data-rel="tooltip"> <i class="icon dripicons-chevron-up"></i></a>
							</li>
							<li class="dropdown">
								<a href="#" data-toggle="dropdown" title="Panel Options" data-rel="tooltip">
									<i class="icon dripicons-dots-3"></i>
								</a>
								<div class="dropdown-menu  dropdown-menu-right theme-media">
									<div class="dropdown-menu-header">
										<div class="dmh-inner">
											<h4>Panel Options</h4>
										</div>
									</div>
									<a class="dropdown-item cp" href="#" title="">
										<span class="color-fill-icon" style="background-color:#fff;"></span>
										Header Background Color
									</a>
									<a class="dropdown-item header-fontcolor" href="#" title="">
										<span class="color-fill-icon" style="background-color:#333"></span>
										Header Font Color Dark/Light
									</a>
								</div>
							</li>
							<li>
								<a class="removeWidget" href="#" title="Remove Panel" data-rel="tooltip">
									<i class="icon dripicons-cross"></i>
								</a>
							</li>
						</ul>
					</div> *@
				</div><!-- Panel Header -->
				<div class="card-body" style="padding: 0.25rem">
					<div class="row justify-content-center">
						<div class="status-box total-box">
						    <div>
						        <div>7</div>
						        <div>Total</div>
						    </div>
						</div>
						<div class="status-box major-box">
						    <div>
						        <div>4</div>
						        <div>Major</div>
						    </div>
						</div>
						<div class="status-box critical-box">
						    <div>
						        <div>3</div>
						        <div>Critical</div>
						    </div>
						</div>
			        </div>
					<div class="steamline m-t-40">
							<a class="alertModal" title="" data-rel="tooltip" data-original-title="Click to View Alert">
						<div class="sl-item">
							<div class="sl-left bg-warning">
								<i class="bg-warning icon dripicons-bell"></i>
							</div>
							<div class="sl-right">
								<div class="font-medium flex justify-content-between">
									<span>NTSR</span><span class="sl-date"> 03:25 PM</span>
								</div>
								<div class="desc">NTSR |S-Chg Fail </div>
							</div>
						</div>
							</a>
							<a class="alertModal" title="" data-rel="tooltip" data-original-title="Click to View Alert">
						<div class="sl-item">
							<div class="sl-left bg-warning">
								<i class="bg-warning icon dripicons-bell"></i>
							</div>
							<div class="sl-right">
								<div class="font-medium flex justify-content-between">
									<span>NTSR</span> <span class="sl-date">11:52 AM</span>
								</div>
								<div class="desc">NTSR | All Rec Comm Fail </div>
							</div>
						</div>
							</a>
						<a class="alertModal" title="" data-rel="tooltip" data-original-title="Click to View Alert">
						<div class="sl-item">
							<div class="sl-left bg-danger "><i class=" icon dripicons-bell"></i></div>
							<div class="sl-right">
								<div class="font-medium flex justify-content-between">
									<span >NTSR</span> <span class="sl-date">11:52 AM</span>
								</div>
								<div class="desc">NTSR | Batt1 Fuse Fail</div>
							</div>
						</div>
							</a>

						<a class="alertModal" title="" data-rel="tooltip" data-original-title="Click to View Alert">
						<div class="sl-item">
							<div class="sl-left bg-danger "><i class=" icon dripicons-bell"></i></div>
							<div class="sl-right">
								<div class="font-medium flex justify-content-between">
									<span>NTSR</span> <span class="sl-date">11:52 AM</span>
								</div>
								<div class="desc">NTSR | Batt1 Fuse Fail</div>
							</div>
						</div>
							</a>
						<a class="alertModal" title="" data-rel="tooltip" data-original-title="Click to View Alert">
							<div class="sl-item">
								<div class="sl-left bg-danger "><i class=" icon dripicons-bell"></i></div>
								<div class="sl-right">
									<div class="font-medium flex justify-content-between">
										<span>NTSR</span> <span class="sl-date">11:52 AM</span>
									</div>
									<div class="desc">NTSR | Batt1 Fuse Fail</div>
								</div>
							</div>
						</a>

					</div>
				</div>
			</div><!-- Console Panel -->
		</div>
		<div class="grid-stack-item" data-gs-x="0" data-gs-y="29" data-gs-width="6" data-gs-height="17"
			 data-gs-min-height="10" data-gs-min-width="3">
			<div class="console-panel grid-stack-item-content">
				<div class="console-panel-header light" style="background-color: rgb(12, 52, 61);">
					<div class="cph-left">
						<h5>Sites</h5>
					</div>
					<div class="cph-right">
						<div class="get_dt_search"></div>
						<ul class="top-header-btns">
							<li>
								<a class="switch-full" href="#" title="Expand Panel To Full Screen"
								   data-rel="tooltip"> <i class="icon dripicons-expand-2"></i></a>
							</li>
							@* <li>
								<a class="collapse-panel" href="#" title="Collapse/Uncollapse Panel"
								   data-rel="tooltip"> <i class="icon dripicons-chevron-up"></i></a>
							</li>
							<li class="dropdown">
								<a href="#" data-toggle="dropdown" title="Panel Options" data-rel="tooltip">
									<i class="icon dripicons-dots-3"></i>
								</a>
								<div class="dropdown-menu  dropdown-menu-right theme-media">
									<div class="dropdown-menu-header">
										<div class="dmh-inner">
											<h4>Panel Options</h4>
										</div>
									</div>
									<a class="dropdown-item cp" href="#" title="">
										<span class="color-fill-icon" style="background-color:#fff;"></span>
										Header Background Color
									</a>
									<a class="dropdown-item header-fontcolor" href="#" title="">
										<span class="color-fill-icon" style="background-color:#333"></span>
										Header Font Color Dark/Light
									</a>
								</div>
							</li>
							<li>
								<a class="removeWidget" href="#" title="Remove Panel" data-rel="tooltip">
									<i class="icon dripicons-cross"></i>
								</a>
							</li> *@
						</ul>
					</div>
				</div><!-- Panel Header -->
				<div class="console-panel-body no-padding">
					<div class="table-container">
						<table class="table table-striped console-table table-bordered table-hover mb-0"
							   id="ticketstable">
							<thead class="sorticon-pos">
								<tr class="filtersRow">
									<th class="filterhead filterheadsite"></th>
									<th class="filterhead filterheadsite"></th>
									<th class="filterhead filterheadsite"></th>
								</tr>
								<tr>
									<th>Site Name</th>
									<th>Region</th>
									<th>Site In charge</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
				<div class="console-footer">
					<div class="dt-bottom-container"></div>
				</div>
			</div><!-- Console Panel -->
		</div>
		<div class="grid-stack-item" data-gs-x="6" data-gs-y="29" data-gs-width="6" data-gs-height="17"
			 data-gs-min-height="10" data-gs-min-width="3">
			<div class="console-panel grid-stack-item-content">
				<div class="console-panel-header light" style="background-color: rgb(12, 52, 61);">
					<div class="cph-left">
						<h5>Maps View</h5>
					</div>
					<div class="cph-right">
						<ul class="top-header-btns">
							<li>
								<a class="switch-full" href="#" title="Expand Panel To Full Screen"
								   data-rel="tooltip"> <i class="icon dripicons-expand-2"></i></a>
							</li>
							@*		<li>
								<a class="collapse-panel" href="#" title="Collapse/Uncollapse Panel"
								   data-rel="tooltip"> <i class="icon dripicons-chevron-up"></i></a>
							</li>
							<li class="dropdown">
								<a href="#" data-toggle="dropdown" title="Panel Options" data-rel="tooltip">
									<i class="icon dripicons-dots-3"></i>
								</a>
								<div class="dropdown-menu  dropdown-menu-right theme-media">
									<div class="dropdown-menu-header">
										<div class="dmh-inner">
											<h4>Panel Options</h4>
										</div>
									</div>
									<a class="dropdown-item cp" href="#" title="">
										<span class="color-fill-icon" style="background-color:#fff;"></span>
										Header Background Color
									</a>
									<a class="dropdown-item header-fontcolor" href="#" title="">
										<span class="color-fill-icon" style="background-color:#333"></span>
										Header Font Color Dark/Light
									</a>
								</div>
							</li>
							<li>
								<a class="removeWidget" href="#" title="Remove Panel" data-rel="tooltip">
									<i class="icon dripicons-cross"></i>
								</a>
							</li>*@
						</ul>
					</div> 
				</div><!-- Panel Header -->
				<div class="console-panel-body no-padding">
					<div id="map" style="width:100%;height:400;"></div>
					@* <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0"
							marginwidth="0"
							src="https://www.openstreetmap.org/export/embed.html?bbox=-74.0060,40.7128,-74.0060,40.7128"></iframe> *@
				</div>
			</div><!-- Console Panel -->
		</div>
		<div class="grid-stack-item" data-gs-x="0" data-gs-y="46" data-gs-width="12" data-gs-height="12"
			 data-gs-min-height="10" data-gs-min-width="12">
			<div class="console-panel grid-stack-item-content">
				<div class="console-panel-header light" style="background-color: rgb(12, 52, 61);">
					<div class="cph-left">
						<h5>Live Site Status</h5>
					</div>
					<div class="cph-right">
						<div class="get_dt_search"></div>
						<ul class="top-header-btns">
							<li>
								<a class="switch-full" href="#" title="Expand Panel To Full Screen"
								   data-rel="tooltip"> <i class="icon dripicons-expand-2"></i></a>
							</li>
							@* <li>
								<a class="collapse-panel" href="#" title="Collapse/Uncollapse Panel"
								   data-rel="tooltip"> <i class="icon dripicons-chevron-up"></i></a>
							</li>
							<li class="dropdown">
								<a href="#" data-toggle="dropdown" title="Panel Options" data-rel="tooltip">
									<i class="icon dripicons-dots-3"></i>
								</a>
								<div class="dropdown-menu  dropdown-menu-right theme-media">
									<div class="dropdown-menu-header">
										<div class="dmh-inner">
											<h4>Panel Options</h4>
										</div>
									</div>
									<a class="dropdown-item cp" href="#" title="">
										<span class="color-fill-icon" style="background-color:#fff;"></span>
										Header Background Color
									</a>
									<a class="dropdown-item header-fontcolor" href="#" title="">
										<span class="color-fill-icon" style="background-color:#333"></span>
										Header Font Color Dark/Light
									</a>
								</div>
							</li>
							<li>
								<a class="removeWidget" href="#" title="Remove Panel" data-rel="tooltip">
									<i class="icon dripicons-cross"></i>
								</a>
							</li> *@
						</ul>
					</div>
				</div><!-- Panel Header -->
				<div class="console-panel-body no-padding">
					<div class="table-container">
						<table class="sitetable table table-striped console-table table-bordered table-hover mb-0"
							   id="Sitetable">
							<thead class="sorticon-pos">
							
								<tr>
									<th rowspan="3">S No</th>
									<th rowspan="3">Site ID</th>
									<th rowspan="3">Site Name</th>
									<th rowspan="3">Data Received On</th>
									<th rowspan="3">SiteRunning ON </th>
									<th rowspan="2" colspan="4" class="text-center">System </th>
									<th colspan="7" class="text-center">AC</th>
									<th rowspan="2" colspan="3" class="text-center">Battery</th>
									<th rowspan="2" colspan="6" class="text-center">Rectifier</th>
								</tr>
								<tr>
									<th colspan="3" class="text-center">Voltage</th>
									<th colspan="3" class="text-center">Current</th>
									<th rowspan="2" class="text-center">Freq</th>
								</tr>
								<tr>
									<th>Voltage</th>
									<th>Load Current</th>
									<th>Power</th>
									<th>Soc</th>
									<th>R</th>
									<th>Y</th>
									<th>B</th>
									<th>R</th>
									<th>Y</th>
									<th>B</th>
									<th>Status</th>
									<th>Total Current</th>
									<th>Voltage</th>
									<th>Qty</th>
									<th>Total Power</th>
									<th>I/P Voltage</th>
									<th>O/P Current</th>
									<th>I/P Voltage</th>
									<th>O/P Current</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
				<div class="console-footer">
					<div class="dt-bottom-container"></div>
				</div>
			</div><!-- Console Panel -->
		</div>


	</div>

</div><!-- Content Area -->

<div class="modal fade bd-example-modal-lg siteDirection" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Site Details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-4"> <label>Site ID</label> :<span class="text-warning">01</span></div>
					<div class="col-6"> <label>Site Name</label> :<span class="text-warning">Abc</span></div>
					<div class="col-12"> <label>Site Type</label> :<span class="text-warning">Hybrid</span></div>
					<div class="col-6"> <label>Lat</label> :<span class="text-warning">11.023</span></div>
					<div class="col-6"> <label>Lang</label> :<span class="text-warning">89.054</span></div>
					<div class="col-6"> <label>Cluster</label> :<span class="text-warning">Leeds</span></div>
					<div class="col-6"> <label>State</label> :<span class="text-warning">U k</span></div>
					<div class="col-12"> <label>Site In Charge</label> :<span class="text-warning">Jhon</span></div>
					 <div class="col-lg-2 col-md-12">
						<a class="" href="/Site/Map" title=""><i class="icon dripicons-location"></i>Site Direction</a>

								</div>
								<div class="col-lg-3 col-md-12">
									<a class="" href="/Site/LiveData" title=""><i class="fa fa-building"></i>View Site Data</a>
								</div>
								</div>
					<div class="row p-2" id="Camera">
						<div class="col-12"><h6>Sites Images</h6></div>
						<div class="col-6">
							<img src="/images/Ex.jpg" alt="Image 1">
						</div>
						<div class="col-6">
							<img src="/images/Ex.jpg" alt="Image 1">
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>

<div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Site Details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
<div class="table-container">
					<div class="get_dt_search"></div>
						<table class="table table-striped console-table table-bordered table-hover mb-0"
							  id="modalTable">
								<thead class="sorticon-pos">
								<tr class="filtersRow">
				<th class="filterhead filterheads"></th>
				<th class="filterhead filterheads"></th>
				<th class="filterhead filterheads"></th>
				<th class="filterhead filterheads"></th>
				<th class="filterhead filterheads"></th>
				<th class="filterhead filterheads"></th>
				<th class="filterhead filterheads"></th>
				<th class="filterhead filterheads"></th>
				<th class="filterhead filterheads"></th>
</tr>
								<tr>
							<th>Sl No</th>
							<th>Site Type</th>
							<th>Site ID</th>
							<th>Site Name</th>
							<th>Site Region</th>
							<th>Site State</th>
							<th>Site InCharge</th>
							<th>Contact No</th>
							<th>Type of Cooling</th>
						</tr>
							</thead>
							<tbody></tbody>
						</table>
						
					
					</div>				
					<div class="dt-bottom-container"></div>
			</div>

		</div>
	</div>
</div>


<!--Site Details Modal -->
<div class="modal fade bd-example-modal-lg siteDirection" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Site Details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-4"> <label>Site ID</label> :<span class="text-warning">01</span></div>
					<div class="col-6"> <label>Site Name</label> :<span class="text-warning">Abc</span></div>
					<div class="col-12"> <label>Site Type</label> :<span class="text-warning">Hybrid</span></div>
					<div class="col-6"> <label>Lat</label> :<span class="text-warning">11.023</span></div>
					<div class="col-6"> <label>Lang</label> :<span class="text-warning">89.054</span></div>
					<div class="col-6"> <label>Cluster</label> :<span class="text-warning">Leeds</span></div>
					<div class="col-6"> <label>State</label> :<span class="text-warning">U k</span></div>
					<div class="col-12"> <label>Site In Charge</label> :<span class="text-warning">Jhon</span></div>
					 <div class="col-lg-2 col-md-12">
						<a class="" href="/Site/Map" title=""><i class="icon dripicons-location"></i>Site Direction</a>
                                    
                                </div>
                                <div class="col-lg-3 col-md-12">
                                    <a class="" href="/Site/LiveData" title=""><i class="fa fa-building"></i>View Site Data</a>
                                </div>
                                </div>
					<div class="row p-2" id="Camera">
						<div class="col-12"><h6>Sites Images</h6></div>
						<div class="col-6">
							<img src="/images/Ex.jpg" alt="Image 1">
						</div>
						<div class="col-6">
							<img src="/images/Ex.jpg" alt="Image 1">
						</div>
					</div>
					
				</div>
			</div>

		</div>
	</div>
</div>

<div class="modal fade bd-example-modal-lg alert" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Alert Details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="table-container">
					<div class="get_dt_search"></div>
					<div class="row">
						<div class="col-4">
							<div class="form-group">
								<label>From Date</label>
								<input type="date" class="form-control" placeholder="From Date" id="fromDate" required>
							</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<label>To Date</label>
								<input type="date" class="form-control" placeholder="To Date" id="toDate" required>
							</div>
						</div>
						<div class="col-4"></div>
						<div class="col-4">
							<div class="form-group">
								<label>Site ID</label>
								<select class="select2 form-control" id="Site" required>
									<option value="1">Site 1</option>
									<option value="2">Site 2</option>
									<option value="3">Site 3</option>
								</select>
							</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<label>Severity</label>
								<select class="select2 form-control" id="Severity" required>
									<option value="1">All</option>
									<option value="2">Major</option>
									<option value="3">Minor</option>
									<option value="4">Critical</option>
								</select>
							</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<label>Status</label>
								<select class="select2 form-control" id="status" required>
									<option value="1">All</option>
									<option value="2">Not Cleared</option>
									<option value="3">Cleared</option>
								</select>
							</div>
						</div>
						<div class="card-body text-right">
								<button class="btn btn-success ml-auto" id="btnShow">
									Show
								</button>
								<button class="btn btn-danger ml-auto" id="btnReset">
									Reset
								</button>
						</div>
					</div>
					<table class="table table-striped console-table table-bordered table-hover mb-0"
						   id="SesnsorTable">
						<thead>
							<tr class="filtersRow">
								<th class="filterhead filterheads"></th>
								<th class="filterhead filterheads"></th>
								<th class="filterhead filterheads"></th>
								<th class="filterhead filterheads"></th>
								<th class="filterhead filterheads"></th>
								<th class="filterhead filterheads"></th>
								<th class="filterhead filterheads"></th>
								<th class="filterhead filterheads"></th>
								<th class="filterhead filterheads"></th>
							</tr>
							<tr>
								<th>Sl No</th>
								<th>Site ID</th>
								<th>Site Name</th>
								<th>Region</th>
								<th>Alert Description</th>
								<th>Alert Serverity</th>
								<th>Created On</th>
								<th>Cleared On</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>


				</div>
			</div>

		</div>
	</div>
</div>
<!-- Pagelevel Initializations Of Plugins -->
<script src="/JsController/DashboardJs.js" asp-append-version="true"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="https://cdn.amcharts.com/lib/5/locales/de_DE.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/germanyLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/fonts/notosans-sc.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
<script src="https://cdn.datatables.net/colvis/1.1.2/js/dataTables.colVis.min.js"></script>

<script>
	$(document).ready(function(){
	var modal = $('#myModal');
	var btn = $('.moreInfo');

	// Function to initialize DataTable
	function initializeDataTable() {
		$('#modalTable').DataTable({
			"ajax": {
				"url": '/Site/GetSiteList',
				"dataSrc": function (json) {
					 var data = $.parseJSON(json.response);
					// Manipulate the JSON response data if needed
					return data; // Assuming your data is nested under a 'response' key
				}
			},
			 "dom": '<"top"<"dt-filters"f>>rFt<"dt-bottom"<"dt-information"li><"dt-pagination"p>>',
			"columns": [
				{ "data": "slNo" },
				{ "data": "siteType" },
				{ "data": "siteId" },
				{ "data": "siteName" },
				{ "data": "siteRegion" },
				{ "data": "siteState" },
				{ "data": "siteInCharge" },
				{ "data": "contactNo" },
				{ "data": "typeOfCooling" },
				
				// Add more column definitions as needed
			],
			"columnDefs": [{
				"targets": 'no-sort',
				"orderable": false,
			}],
			"responsive": true,
			"colReorder": {
				realtime: false
			},
			"stateSave": false,
			
			initComplete: function () {
				// Move Search To Panel Header
				debugger;
				let _container = $(this).parents('#myModal').find('.get_dt_search')
				let _bottom_container = $(this).parents('#myModal').find('.dt-bottom-container')

				$("#modalTable_wrapper .dataTables_filter input").appendTo(_container);
				$("#modalTable_wrapper  .dt-filters").css("display", "none");
				$(_container).find("input").attr('placeholder', 'Search From Table');
				$(_container).addClass("mb-2 text-right")
				$("#modalTable_wrapper  .dt-bottom").appendTo(_bottom_container);
				
				dashboardFilters();
			}
		});
	}

	// When the user clicks the button, open the modal and initialize DataTable
	btn.on('click', function() {
		var id = $(this).data('id');
		// Fetch data or do other operations based on the ID if needed
		$('#myModal').modal('show');
		

		if ($.fn.DataTable.isDataTable('#modalTable')) {
			$('#modalTable').DataTable().clear().destroy();
		}

		initializeDataTable();
	});
	$('.alertModal').on('click', function() {
		var id = $(this).data('id');
		// Fetch data or do other operations based on the ID if needed
		$('.alert').modal('show');
		

		if ($.fn.DataTable.isDataTable('#SesnsorTable')) {
			$('#SesnsorTable').DataTable().clear().destroy();
		}

		ntsrinitializeDataTable();
	});
	
		function ntsrinitializeDataTable() {
			$('#SesnsorTable').DataTable({
				"ajax": {
					"url": '/Site/GetAlertList',
					"dataSrc": function (json) {
						debugger;
						var data = $.parseJSON(json.response);
						// Manipulate the JSON response data if needed
						return data; // Assuming your data is nested under a 'response' key
					}
				},
				"dom": '<"top"<"dt-filters"f>>rFt<"dt-bottom"<"dt-information"li><"dt-pagination"p>>',
				"columns": [
					{ "data": "slNo" },
					{ "data": "siteId" },
					{ "data": "siteName" },
					{ "data": "siteRegion" },
					{ "data": "alertDescription" },
					{ "data": "alertServerity" },
					{ "data": "createdOn" },
					{ "data": "clearedOn" },

					// Add more column definitions as needed
				],
				"columnDefs": [{
					"targets": 'no-sort',
					"orderable": false,
				}],
				"responsive": true,
				"colReorder": {
					realtime: false
				},
				"stateSave": false,

				initComplete: function () {
					// Move Search To Panel Header
					debugger;
					let _container = $(this).parents('#ntsrModel').find('.get_dt_search')
					let _bottom_container = $(this).parents('#ntsrModel').find('.dt-bottom-container')

					$("#modalTable_wrapper .dataTables_filter input").appendTo(_container);
					$("#modalTable_wrapper  .dt-filters").css("display", "none");
					$(_container).find("input").attr('placeholder', 'Search From Table');
					$(_container).addClass("mb-2 text-right")
					$("#modalTable_wrapper  .dt-bottom").appendTo(_bottom_container);

					dashboardFilters();
				}
			});
		}
	// When the user clicks on <span> (x), close the modal
	

	// When the user clicks anywhere outside of the modal, close it
	

	// Function to handle dashboard filters
	
});
function dashboardFilters() {
	
		$(".filterheads").each(function (i) {
			var select = $('<select multiple class="multiselect"></select>')
				.appendTo($(this).empty())
				.on('change', function () {
					var term = $(this).val() || [];
					regExSearch = '^(' + term.join('|') + ')';
					$('#modalTable').DataTable().column(i).search(regExSearch, true, false).draw();
				});
			$('#modalTable').DataTable().column(i).data().unique().sort().each(function (d, j) {
				d = `<span>` + d + `</span>`;
				d = $.parseHTML(d);
				d = $(d).text();
				if (!$(select).find("option:contains('" + d + "')").length) {
					select.append('<option value="' + d + '">' + d + '</option>')
				}
			});
		});
		$(".multiselect").SumoSelect({ search: true, searchText: 'Enter here.' });
	}
	$(document).ready(function () {

		// Initialize the map
		var map = L.map('map').setView([-2.5489, 118.0149], 5); // Set

		// Add the OpenStreetMap tiles
		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 19,
		}).addTo(map);

		// Add a pointer (marker) at a specific location
		var marker = L.marker([-2.5489, 118.0149]).addTo(map); // Marker for Indonesia

		// Add a popup to the marker

	
		// marker.bindPopup(html);

		// Add a click event to the marker to open the popup

		marker.on('click', function (e) {
			$('.siteDirection').modal('show');
		});

	})

	
</script>
<script>
	$(document).ready(function () {

		// am5.ready(function () {

		// 	// Create root element
		// 	var root = am5.Root.new("singleStackedBarChart");

		// 	// Set themes
		// 	root.setThemes([
		// 		am5themes_Animated.new(root)
		// 	]);

		// 	// Create chart
		// 	var chart = root.container.children.push(am5xy.XYChart.new(root, {
		// 		panX: false,
		// 		panY: false,
		// 		paddingLeft: 0,
		// 		layout: root.verticalLayout
		// 	}));

		// 	var data = [{
		// 		"year": "Site Running On",
		// 		"EB/Grid": 30,
		// 		"DG": 20,
		// 		"Battery": 20,
		// 		"Solar": 30,
		// 	}];

		// 	// Create axes
		// 	var xRenderer = am5xy.AxisRendererX.new(root, {
		// 		minorGridEnabled: true
		// 	});
		// 	var xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
		// 		categoryField: "year",
		// 		renderer: xRenderer,
		// 		tooltip: am5.Tooltip.new(root, {})
		// 	}));
		// 	xRenderer.grid.template.setAll({
		// 		location: 1
		// 	});

		// 	xAxis.data.setAll(data);

		// 	var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
		// 		min: 0,
		// 		max: 100, // Limit y-axis to 0-100
		// 		renderer: am5xy.AxisRendererY.new(root, {
		// 			strokeOpacity: 0.1
		// 		})
		// 	}));

		// 	// Add series
		// 	function makeSeries(name, fieldName) {
		// 		var series = chart.series.push(am5xy.ColumnSeries.new(root, {
		// 			name: name,
		// 			stacked: true,
		// 			xAxis: xAxis,
		// 			yAxis: yAxis,
		// 			valueYField: fieldName,
		// 			categoryXField: "year"
		// 		}));
					
				
		// 		series.columns.template.setAll({
		// 			tooltipText: "{name}, {valueYField}: {valueY}%",
		// 			tooltipY: am5.percent(10)
		// 		});
		// 		series.data.setAll(data);

		// 		// Make stuff animate on load
		// 		series.appear();

		// 		series.bullets.push(function () {
		// 			return am5.Bullet.new(root, {
		// 				sprite: am5.Label.new(root, {
		// 					text: "{valueYField}:{valueY}%",
		// 					fill: root.interfaceColors.get("alternativeText"),
		// 					centerY: am5.p50,
		// 					centerX: am5.p50,
		// 					populateText: true
		// 				})
		// 			});
		// 		});
		// 	}

		// 	makeSeries("Site Running On", "EB/Grid");
		// 	makeSeries("Site Running On", "DG");
		// 	makeSeries("Site Running On", "Battery");
		// 	makeSeries("Site Running On", "Solar");

		// 	// Make stuff animate on load
		// 	chart.appear(1000, 100);

		// }); // end am5.ready()

		am5.ready(function () {
			// Create root element
			var root = am5.Root.new("GreenStatusChart");
			root._logo.dispose();
			// Set themes
			root.setThemes([
				am5themes_Animated.new(root)
			]);

			// Create chart
			var chart = root.container.children.push(am5percent.PieChart.new(root, {
				startAngle: 180,
				endAngle: 360,
				layout: root.verticalLayout,
				innerRadius: am5.percent(50),
				labelsEnabled: false // Disable labels in the chart
			}));

			// Create series
			var series = chart.series.push(am5percent.PieSeries.new(root, {
				startAngle: 180,
				endAngle: 360,
				valueField: "value",
				categoryField: "category",
				alignLabels: false,
				slices: {
					template: {
						fill: function (dataItem) {
							var category = dataItem.get("category");
							if (category === "Solar") {
								return am5.color(0xff0000); // Red for Solar
							} else if (category === "EB") {
								return am5.color(0xffff00); // Yellow for EB
							} else if (category === "Battery") {
								return am5.color(0x00ff00); // Green for Battery
							}
							return fill;
						}
					}
				}
			}));

			series.states.create("hidden", {
				startAngle: 180,
				endAngle: 180
			});

			series.slices.template.setAll({
				cornerRadius: 5
			});

			series.ticks.template.setAll({
				forceHidden: true
			});

			// Set data
			var data = [
				{ value: 100 / 3, category: "Solar" },
				{ value: 100 / 3, category: "EB" },
				{ value: 100 / 3, category: "Battery" }
			];

			series.data.setAll(data);

			series.appear(1000, 100);
		});

	});
</script>
